@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
@import "../bower_components/swiper/dist/css/swiper.min.css";
@import "../bower_components/smart-app-banner/smart-app-banner.css";
/* Bootstrap Variables Goes Here */
$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #fcd116 !default;
$brand-danger: #fc483f !default;
$brand-info: #114fc9 !default;
$grey: #cccccc !default;
$black: #000000 !default;
$blue-dark: #0c5c81 !default;
$white: #ffffff !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@font-face {
  font-family: "pregular";
  src: url("../fonts/PalanquinDark-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light_1.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Robotor";
  src: url("../fonts/Roboto-Regular_1.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "theboldfont";
  src: url("../fonts/theboldfont.ttf");
  font-weight: 700;
}
body {
  padding-top: 59px;
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
a,
img {
  outline: none !important;
}
a:focus,
a:hover {
  text-decoration: none !important;
}
.whit_color {
  color: $white !important;
}
.whit_color:hover {
  color: $white !important;
  text-decoration: none;
}
.yellow_color {
  color: #ffca18 !important;
}
.yellow_color:hover {
  color: #ffca18 !important;
  text-decoration: none;
}
.yellow_back_color {
  background: #ffca18 !important;
}
.grey_color {
  color: #807b7b !important;
}
.grey_color:hover {
  color: #807b7b !important;
  text-decoration: none;
}
.grey_color2 {
  color: #bbb8b8 !important;
}
.grey_color2 {
  color: #bbb8b8 !important;
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 3px 0;
  font-size: 17px;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
.pregular {
  font-family: 'pregular';
}
.Roboto {
  font-family: 'Roboto';
}
.Robotor {
  font-family: 'Robotor';
}
.theboldfont {
  font-family: 'theboldfont';
}
.f-bold {
  font-weight: 700;
}
.f-light {
  font-weight: 300;
}
.f-regular {
  font-weight: 400;
}
nav li:hover .dropdown-menu {
  display: block;
}
.btn,
a {
  cursor: pointer;
  @include transition(all ease 300ms);
}
//bootstrap forms
.btn,
.form-control,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.input-lg {
  border-radius: 0;
  @include box-shadow(none);
}
.form-control:focus {
  border-color: $brand-primary;
  outline: 0;
  @include box-shadow(none);
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #012B7F;
}
.navbar-default .navbar-nav > li > a {
  letter-spacing: 1px;
  border-right: 2px solid #36438c;
  margin: 14px 0;
  padding: 0 14px;
  line-height: 10px;
  color: #012B7F !important;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
}
.hbc {
  text-align: center;
  border: none !important;
  background-color: #ffca18 !important;
  .rit {
    text-align: right;
  }
  .tp {
    margin-top: 10px;
    font-size: 13px;
    text-align: center;
    padding-left: 77px;
    color: #000;
  }
}
.p5 {
  padding-top: 5px;
}
.yec {
  background: #FDD116;
}
.inm {
  margin: 6% 5% 0;
}
.himg {
  margin-top: -8px;
  width: 66px;
  background-color: #fff;
  box-shadow: 0 0 0 5px #ffffff;
}
.hdp {
  width: 280px;
  padding: 25px 0 4px;
  font-weight: 700;
  color: #0b358c;
  letter-spacing: 2px;
}
.imgab {
  width: 29%;
  position: absolute;
}
.himg2 {
  display: inline-block;
  width: 44%;
  text-align: left;
  background: rgba(2, 44, 125, 0.77);
  padding: 3% 2% 3% 16%;
  margin-left: 15%;
  margin-top: 2.5%;
  border-radius: 24px;
  .form-control {
    letter-spacing: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent url("../img/Vector-Smart-Object.png") no-repeat right center;
    border-bottom: 4px solid #FDD116;
    font-size: 34px;
    color: #fdd52b;
    padding: 0 12px 2px 0;
    height: auto;
    border-top: none;
    border-left: none;
    border-right: none;
    font-weight: bolder;
    width: 100%;
  }
}
label {
  font-size: 26px;
}
option {
  color: #33548e;
  font-size: 20px;
}
.aboutin {
  background: #FDD116;
  padding: 5%;
  text-align: center;
}
.m2 {
  padding: 2%;
  background: #fff;
}
.fcenter {
  i {
    background-color: white;
    border-radius: 2px;
    padding: 5px 3px;
    width: 20px;
    margin: 2px 0;
  }
  a {
    color: #000000;
    font-size: 15px;
  }
}
.hdn {
  padding: 20px 10px 0;
  color: #0b358c;
  font-size: 16px;
  .m10 {
    margin-left: 10px;
  }
  i {
    background-color: white;
    border-radius: 100%;
    padding: 5px 0;
    height: 20px;
    width: 21px;
    text-align: center;
  }
  a {
    color: #FDD116;
    font-size: 12px;
  }
}
.navbar-brand {
  float: left;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}
.imAb {
  width: 250px;
  margin-top: -97px;
}
.spAb {
  width: 50%;
  display: inline-block;
  padding-left: 5%;
  text-align: left;
  h1 {
    font-size: 56px;
    font-weight: bolder;
    color: #012B7F;
  }
  .ain {
    margin: 0 0 18px;
    font-size: 13px;
    color: #012B7F;
  }
}
.sado {
  font-weight: 600;
  float: right;
  font-size: 13px;
  color: #fff;
  background-image: url("../img/btn-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 12px 25px;
}
.lm {
  height: 90.1% !important;
  padding: 5% 0;
  width: 27%;
  margin: 2% !important;
  float: right;
  background: rgba(0, 0, 152, 0.78);
  h1 {
    line-height: 80%;
    font-size: 70px;
    font-weight: bolder;
    text-align: left;
    padding: 6% 7% 0;
  }
  p {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    padding: 0 7%;
    line-height: 100%;
  }
}
///new css
.m8 {
  margin: 8% 0;
  .mr {
    margin-right: 8%;
    margin-left: -7%;
  }
  .ml {
    margin-left: 17%;
    display: flex;
  }
}
.padng0 {
  padding: 0 !important;
}
.borderup {
  background: linear-gradient(to right, white 58%, white 41%, white 41%, white 47%, #FDD116 47%);
  border-right: 20px solid #FDD116;
  padding: 20px;
  position: relative;
}
.addimg {
  position: absolute;
  right: -38px;
  bottom: 40%;
  cursor: pointer;
  img {
    width: 35px;
  }
}
.addimg1 {
  position: absolute;
  left: -38px;
  bottom: 40%;
  cursor: pointer;
  img {
    width: 35px;
  }
}
.borderdown {
  background: linear-gradient(to right, #FDD116 41%, #ffca18 41%, #FDD116 40%, #ffca18 40%, rgba(255, 255, 255, 0) 40%);
  border-left: 20px solid #FDD116;
  padding: 20px;
  margin-top: -20px;
  position: relative;
}
.backcolor {
  background: (rgba(255, 0, 0, 0));
  background: -webkit-linear-gradient(rgba(255, 0, 0, 0) 80%, rgba(62, 62, 60, 0.65));
  background: -o-linear-gradient(rgba(255, 0, 0, 0) 80%, rgba(62, 62, 60, 0.65));
  background: -moz-linear-gradient(rgba(255, 0, 0, 0) 80%, rgba(62, 62, 60, 0.65));
  background: linear-gradient(rgba(255, 0, 0, 0) 80%, rgba(62, 62, 60, 0.65));
}
.padup {
  padding: 81% 0 0;
  p {
    letter-spacing: 1px;
    font-weight: 600;
  }
}
.imghover {
  letter-spacing: 1px;
  p {
    margin: 0;
  }
  .inmIMG {
    width: 50%;
    margin-bottom: 22%;
  }
  padding: 39% 0 0;
  p {
    font-weight: 600;
  }
}
.bg {
  background: rgba(24, 60, 135, 0.7);
}
.p {
  font-weight: 600;
  float: right;
  font-size: 24px;
  color: #fff;
  background-image: url("../img/btn-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 5px 32px;
  margin: 0;
}
.labsec {
  font-weight: 500 !important;
  font-size: 22px;
}
.p1 {
  letter-spacing: 3px;
  margin-left: 2%;
  float: left;
  margin-top: 13px;
}
.p11 {
  letter-spacing: 3px;
  margin-right: 37px;
}
.p2 {
  font-size: 63px;
  font-weight: bolder;
  color: #ffca18;
  position: absolute;
  line-height: 77%;
  padding-top: 26px;
}
.p22 {
  margin-left: 43%;
  text-align: right;
  margin-right: -5px;
  z-index: 10;
  margin-top: 23px;
  line-height: 79%;
}
.p222 {
  margin: 10% 0 0 -3%;
}
.paddup {
  background: linear-gradient(to bottom, white 31%, white 17%, white 17%, #FDD116 17%);
}
.padddown {
  background: linear-gradient(to bottom, #fdd116 29%, #fdd116 80%, white 80%, white 80%, white 100%, white 100%);
}
.padd {
  padding: 0 6%;
}
figure {
  position: relative;
  display: block;
  overflow: hidden;
  text-align: center;
  padding: 0;
  color: #fff;
  margin: 0;
}
figure:hover figcaption {
  opacity: 1;
}
figure figcaption {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  padding: 0;
  height: auto;
}
figure .links {
  margin: 10% 0;
}
.eupt {
  background: #CCCCCC;
  p {
    font-size: 18px;
    font-weight: 600;
    float: left;
    color: #fff;
    background-image: url("../img/btn-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 10px 31px;
  }
  .ge {
    cursor: default;
    text-align: center;
    font-size: 27px;
    font-weight: 700;
    color: #31228d;
    padding: 2%;
  }
  .ie {
    padding: 2% 0;
    .form-control {
      border: 0;
      display: block;
      width: 100%;
      height: auto;
      padding: 6px 12px;
      font-size: 19px;
      line-height: 1.42857;
      color: #555555;
      background-color: #fff;
      background-image: none;
      border-radius: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }
  }
  .es {
    padding: 2% 1% 1% 2%;
  }
}
.stp {
  padding: 0 0 5%;
  display: block;
  font-size: 20px;
  font-weight: 500;
}
.stp2 {
  margin-bottom: 29%;
}
.imgf {
  margin: -5px 0 0 -47px;
  width: 237px;
  position: absolute;
}
.mf {
  padding: 3%;
  background: #012B7F;
  .st {
    display: block;
    padding-left: 15px !important;
    padding-bottom: 2% !important;
  }
}
.bordern {
  border: none !important;
}
.footb {
  background: #121212;
  .fc {
    padding: 2% 0 0;
  }
  .fcenter {
    text-align: center;
  }
  p {
    margin: 0;
    font-size: 12px;
    color: #807b7b;
  }
}
.footb2 {
  background: #263778;
  .fc {
    padding: 2% 0 0;
  }
  .fcenter {
    text-align: center;
  }
  p {
    margin: 0;
    font-size: 12px;
    color: #bbb8b8;
  }
}
.footermenu {
  background: #012B7F;
}
//destination css start
.pdt15 {
  padding-bottom: 30px;
}
.fsiz {
  font-size: 80px;
}
.dlm {
  height: 29%;
  width: 100%;
  margin: 27% 0 0 !important;
  background: rgba(0, 0, 152, 0.78);
  text-align: center;
  h1 {
    line-height: 80%;
    font-size: 70px;
    font-weight: bolder;
    padding: 2% 0 0;
    text-align: center;
  }
}
.m4 {
  margin-top: -4%;
  .m2 {
    margin: 0 3%;
    background: #FDD116 !important;
    padding: 2% 9%;
    .pd15 {
      padding: 0 15px;
      h1 {
        font-size: 63px;
        line-height: 80%;
        padding-top: 40px;
      }
    }
    .padup {
      padding: 89% 0 0;
    }
  }
}
.lodm {
  padding: 2% 0;
  a {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    background-image: url("../img/btn-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 13px 31px;
    width: 199px;
  }
}
.padd5 {
  margin: 0 2%;
  background: #ffca18 !important;
  padding: 2% 9%;
}
.custtitle {
  color: #002b7f;
  text-align: center;
  font-size: 30px;
  margin: 4% 0 5%;
}
//customisation
.loadimag {
  margin: 2% 0;
  a {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    background-image: url("../img/btn-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 13px 60px;
    width: 199px;
  }
}
.mim8 {
  margin: -1px 8%;
}
.marg4 {
  margin: 0 4%;
  background: #FDD116 !important;
  padding: 2% 5%;
}
.pdt10 {
  padding-bottom: 10px;
}
.detailsfom {
  .text-height {
    height: auto !important;
    resize: none;
    padding: 7px 12px 0 !important;
  }
  .padding-r {
    padding-right: 0;
  }
  .padding-l {
    padding-left: 0;
  }
  .form-control {
    font-size: 15px;
    height: 45px;
    border: none;
    border-radius: 0;
  }
}
.email-form {
  letter-spacing: -0.9px;
  cursor: default;
  font-size: 27px;
  font-weight: 700;
  color: #31228d;
  padding: 2%;
}
.padding5 {
  padding: 14px 15px 0;
}
.bordernone {
  border: none !important;
}
.sendform {
  float: right !important;
  padding: 8px 61px !important;
  margin: 20px 7px !important;
}
.paddingabout {
  padding: 0 12%;
}
.footerfom {
  .witdhimp {
    width: 75% !important;
  }
  .btn {
    letter-spacing: 1px;
    font-size: 19px;
    color: #333232;
    width: 100%;
    margin: 10px 0;
    background: #fdd116;
    padding: 2px 12px;
  }
  .form-control {
    font-size: 15px;
    height: 34px;
    border: none;
    border-radius: 0;
  }
  padding: 3% 0;
  .stp {
    margin: 0 15px 15px;
    display: block;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 2px solid #fff;
    padding: 0;
  }
  .strong-impmarg {
    margin: 0 0 15px !important;
  }
}
.customf {
  background: #000;
}
.customc {
  padding: 9px 0;
  p {
    font-size: 13px;
  }
  .fcenter {
    text-align: center;
  }
  .padding10 {
    padding-top: 10px;
  }
}
//whats page
.whatsmain {
  .pading0 {
    padding: 1px !important;
  }
  .whatsmarg4 {
    .wtimg {
      font-weight: 900;
      font-size: 40px;
      background-image: url("../img/btn-bg.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      padding: 16px 42px;
      width: 199px;
    }
    .wtvi {
      font-weight: 900;
      color: #cacaca !important;
      font-size: 40px;
      margin-left: 30px;
    }
    .whatspadd3 {
      padding: 3%;
    }
    margin: 0 4%;
  }
  .margin3 {
    margin-top: 3%;
  }
}
.wtsecond {
  background: #fcd015;
  margin-top: -11%;
  .wtsec2 {
    .colora {
      color: #002b79;
    }
    .margin-15 {
      margin-left: -15px;
    }
    padding: 14% 14% 6%;
    .font15 {
      font-size: 13px;
      color: #002b79;
    }
  }
}
.wtintro {
  font-weight: 900;
  font-size: 24px;
  margin-left: -20px;
  color: #002b79;
}
.wtlast {
  margin: -5% 0;
  background: rgba(255, 255, 255, 0);
  .wtlast2 {
    padding: 1% 2%;
    background: #fff;
    margin: 0 12%;
    .tdcolor {
      color: #fcd015 !important;
    }
    .table > thead > tr > th {
      padding: 14px;
      vertical-align: bottom;
      border-bottom: none;
      font-size: 17px;
      background: #fff;
      color: #002b79;
      border: none;
    }
    .table > tbody > tr > td {
      padding: 8px 25px;
      line-height: 1.42857;
      vertical-align: top;
      border: 1px solid #fff;
      background: #002b79;
      color: #fff;
      font-weight: 900;
      font-size: 17px;
    }
  }
}
//bootstrap forms
/* Start writing sass here */
@import "fancybox-override";
@import "main2";
@import "staticmain";
@import "mobile";
@media only screen and (max-width: 1205px) {
  .hdn {
    width: 189px !important;
    padding: 20px 10px 0 !important;
    color: #0b358c;
    font-size: 16px;
    letter-spacing: 1px;
  }
  .tp {
    padding-left: 0 !important;
  }
}
@media (max-width: 768px) {
  .hbc .tp {
    padding-left: 0;
  }
  .navbar-default .navbar-nav > li > a {
    color: #263878;
    border: none;
  }
  .hdn {
    padding: 20px 10px 0;
    color: #263878;
    font-size: 16px;
    letter-spacing: 1px;
    .mt3 {
      margin-top: 3%;
    }
    .tp {
      padding-left: 2px;
    }
  }
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none;
  outline-offset: 0;
}
