@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
@import "../bower_components/swiper/dist/css/swiper.min.css";
@import "../bower_components/smart-app-banner/smart-app-banner.css";
/* Bootstrap Variables Goes Here */
$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #fcd116 !default;
$brand-danger: #fc483f !default;
$brand-info: #114fc9 !default;
$grey: #cccccc !default;
$black: #000000 !default;
$blue-dark: #0c5c81 !default;
$white: #ffffff !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@font-face{
  font-family:"PalanquinDark-Regular";
  src:url("../fonts/PalanquinDark-Regular.ttf");

  font-family:"Roboto-Light_1";
  src:url("../fonts/Roboto-Light_1.ttf");

  font-family:"Roboto-Regular_1";
  src:url("../fonts/Roboto-Regular_1.ttf");

  font-family:"theboldfont";
  src:url("../fonts/theboldfont.ttf");

}
body {
  padding-top: 59px;
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
.btn,
a {
  cursor: pointer;
  @include transition(all ease 300ms);
}
//bootstrap forms
.btn,
.form-control,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.input-lg {
  border-radius: 0;
  @include box-shadow(none);
}
.form-control:focus {
  border-color: $brand-primary;
  outline: 0;
  @include box-shadow(none);
}
.navbar-default .navbar-nav > li > a {
      font-family: PalanquinDark-Regular;
  border-right: 2px solid #36438c;
  margin: 18px 0;
  padding: 0 14px;
  line-height: 10px;
}

.hbc {
  border: none;
  background-color: #F3CB2C;
  .rit {
    text-align: right;
  }
}
.yec {
  background: #ffd72b;
}

.inm {
  margin: 6% 5% 0;
}
.arrow {
  background: #f3cb2c;
  color: #f3cb2c;
  padding: 2px 0;
}
.mararrow {
  margin: 0 5%;
}
.pcolHup {
  background: linear-gradient(to right, rgb(255, 255, 255) 41%,rgb(255, 255, 255) 41%,rgb(255, 255, 255) 41%,rgb(255, 255, 255) 47%,rgb(243, 203, 44) 47%);
}
.pcolDown {
  background: linear-gradient(to right, rgb(243, 203, 44) 41%,rgb(243, 203, 44) 41%,rgb(243, 203, 44) 41%,rgb(243, 203, 44) 47%,rgb(255, 255, 255) 47%);
}
.inm,
.inm2 {
  .backcolor {
    background: (rgba(255, 0, 0, 0));
    background: -webkit-linear-gradient(rgba(255, 0, 0, 0), rgba(62, 62, 60, 0.65));
    background: -o-linear-gradient(rgba(255, 0, 0, 0), rgba(62, 62, 60, 0.65));
    background: -moz-linear-gradient(rgba(255, 0, 0, 0), rgba(62, 62, 60, 0.65));
    background: linear-gradient(rgba(255, 0, 0, 0), rgba(62, 62, 60, 0.65));
  }
  .padup {
    padding: 81% 0 0;
    p {
      font-weight: 600;
    }
  }
  .bg {
    background: rgba(24, 60, 135, 0.7);
  }
  .inmIMG {
    width: 46%;
    margin-bottom: 28%;
  }
  .imghover {
    padding: 39% 0 0;
    p {
      font-weight: 600;
    }
  }
  .p {
    font-weight: 600;
    float: right;
    font-size: 24px;
    color: #fff;
    background-image: url("../img/btn-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 5px 25px;
    margin: 0;
  }
  .p1 {
    margin-right: 16%;
  }
  .p2 {
    font-size: 57px;
    font-weight: bolder;
    color: #f3cb2c;
    position: absolute;
  }
  .p22 {
    text-align: right;
    margin-right: -9px;
    z-index: 10;
    margin-top: 22px;
  }
  .p222 {
    margin: 8% 0 0 -3%;
  }
  .pcol {
    padding: 22px 0 0 !important;
  }
  .pcol2 {
    padding: 0 0 22px !important;
  }
  .colba {
    background: #f3cb2c;
  }
}
.inm2 {
  margin: 0 5% 6%;
}
.himg {
  height: 65px;
  width: 66px;
  background-color: #fff;
  box-shadow: 0 0 0 5px #ffffff;
}
.hdp {
  font-family: theboldfont;
  width: 255px;
  padding: 25px 0 4px;
  font-weight: 700;
  color: #0b358c;
}
.imgab {
  width: 29%;
  position: absolute;
}
.himg2 {
  display: inline-block;
  width: 44%;
  text-align: left;
  background: rgba(2, 44, 125, 0.77);
  padding: 3% 2% 3% 16%;
  margin-left: 15%;
  margin-top: 2.5%;
  border-radius: 24px;
}
label {
  font-size: 26px;
}
.form-control {
  border-bottom: 4px solid #ffd72b;
  font-size: 32px;
  color: #fdd52b;
  padding: 0 12px 2px 0;
  height: auto;
  background: rgba(0, 0, 0, 0);
  border-top: none;
  border-left: none;
  border-right: none;
  font-weight: bolder;
}
option {
  color: #33548e;
  font-size: 20px;
}
.aboutin {
  background: #ffd72b;
  padding: 5%;
  text-align: center;
}
.m2 {
  padding: 2%;
background: #fff;
}
.fcenter {
  i{ background-color: white;
  border-radius: 50%;
  padding: 5px 8px;
  margin: 2px 1px;}
    a{   color: #ffd72b; font-size: 10px;}
}
.hdn {
  padding: 25px 10px 0;
  font-weight: bolder;
  color: #0b358c;
  font-size: 17px;
  i{          background-color: white;
    border-radius: 50%;
    padding: 4px 6px;}
    a{       color: #ffd72b;
    font-size: 12px;}
}
.navbar-brand {
  float: left;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}
.imAb {
  width: 250px;
  margin-top: -97px;
}
.spAb {
  width: 50%;
  display: inline-block;
  padding-left: 5%;
  text-align: left;
  h1 {
    font-size: 56px;
    font-weight: bolder;
    color: #002b7f;
  }
  .ain {
    margin: 0;
    font-size: 13px;
    color: #002b7f;
  }
}
.sado {
  font-weight: 600;
  float: right;
  font-size: 13px;
  color: #fff;
  background-image: url("../img/btn-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 12px 25px;
}
.navbar-nav > li {
  float: left;
  color: #000;
}
.navbar-default .navbar-nav > li > a {
  color: #002b7f;
}
.lm {
  height: 90% !important;
  padding: 5% 0;
  width: 27%;
  margin: 2% !important;
  float: right;
  background: rgba(0, 0, 152, 0.78);
  h1 {
    font-size: 70px;
    font-weight: bolder;
    text-align: left;
    padding: 6% 6% 0;
  }
  p {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    padding: 0 6%;
  }
}
.tp {
  margin-top: 10px;
  font-size: 13px;
  text-align: center;
  padding-left: 77px;
  color: #000;
}
.paddup{ background: linear-gradient(to bottom, white 31%, white 17%, white 17%, #ffd72b 17%);}

.padddown{background: linear-gradient(to bottom, rgb(255, 215, 43) 29%,rgb(234, 206, 38) 80%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%); }

.padd{ padding: 0% 6%;}
figure {
  position: relative;
  display: block;
  overflow: hidden;
  text-align: center;
  padding: 0;
  color: #fff;
  margin: 0;
}
figure:hover figcaption {
  opacity: 1;
}
figure figcaption {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  padding: 0;
  height: auto;
}
figure .links {
  margin: 10% 0;
}
.eupt {
  background: #eae9f1;
  p {
    font-weight: 600;
    float: left;
    font-size: 16px;
    color: #fff;
    background-image: url("../img/btn-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 10px 31px;
  }
  .ge {
    text-align: center;
    font-size: 27px;
    font-weight: 700;
    color: #31228d;
    padding: 2% 0;
  }
  .ie {
    padding: 2% 0;
  }
  .es {
    padding: 2% 1% 1% 2%;
  }
  .form-control {
    display: block;
    font-weight: 400;
    border: none;
    font-size: 20px;
    width: 100%;
    height: 40px;
    padding: 8px 12px;
    line-height: 1.42857;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }
}
.stp {
  padding: 0 0 23px;
  display: block;
  font-size: 20px;
  font-weight: 500;
}
.imgf {
  margin: 0 0 0 -47px;
  width: 237px;
  position: absolute;
}
.mf {
  padding: 3%;
  background: #002b7f;
  .st {
    display: block;
    padding-left: 15px;
  }
  a {
    color: #ffd72b;
  }
  a:hover {
    color: #ffd72b;
  }
  p {
    color: #fff;
    font-size: 17px;
    word-spacing: 6px;
  }
  strong {
    color: #ffd72b;
  }
}
.footb {
  background: #000;
  .fc {
    padding: 1% 0;
  }
  .fcenter {
    text-align: center;
  }
  p {
    margin: 0;
    font-size: 12px;
    color: #807b7b;
  }
}

@media only screen and (max-width: 1205px) {
  .tp {
    padding-left: 0px;}

}

//bootstrap forms
/* Start writing sass here */
@import "fancybox-override";
@import "main2";
@import "mobile";
@media (max-width: 768px) {
  .tp {
    padding-left: 2px;
  }
}
