.act-banner {
    height: 350px;
    overflow: hidden;
}

.pointer {
    cursor: pointer;
}

.ctgry {
    cursor: pointer;
    width: 100%;
}

.select-main {
    i {
        font-size: 20px;
        color: #002b7f;
    }
}

.activity-subhead {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fcd116;
    font-size: 30px;
}

.display-inline {
    display: inline-block;
}

.pd50 {
    padding: 0 50px;
}

.category {
    background-color: #fcd116;
    padding: 20px 40px;
    margin: 0 6%;

    .form-group input {
        border: 0;
        border-bottom: 2px solid #002b7f;
        padding: 5px;
        background-color: transparent;
    }
}

.big-sec {
    overflow: hidden;
}

.cart-sec {
    position: absolute;
    top: 10px;
    right: 10px;

    img {
        width: 20px;
    }
}

.event-name {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%);
    color: #fff;
    font-weight: 600;
    font-family: pregular;
    width: 94%;
    text-align: center;

    span {
        letter-spacing: 0.5px;
    }
}

.events {
    position: relative;
    cursor: pointer;

    &:hover {
        .over-layer {
            display: block;
        }
    }

    .over-layer {
        display: none;
        background-color: rgba(63,0,255,0.55);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        .button-holder {
            font-weight: 600;
            font-size: 14px;
            color: #002b7f;
            background-image: url("../img/btn-bg1.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            padding: 20px 30px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 70%;

            .ext-detail {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                background: none;
                border: 0;
                font-family: pregular;
                width: 100%;
                letter-spacing: 2px;

                &:focus {
                    outline: none;
                }
            }
        }
    }
}

.load-more {
    .button-holder {
        font-weight: 600;
        font-size: 16px;
        color: #fff;
        background-image: url("../img/btn-bg.png");
        background-repeat: no-repeat;
        padding: 10px 40px;
        width: auto;
        background-size: 100% 100%;
        margin: 0 auto;
        display: inline-block;

        .ext-detail {
            background: none;
            border: 0;

            &:focus {
                outline: none;
            }
        }
    }
}

.get-updates {
    background-color: #cccccc;
}

.pdt30 {
    padding-top: 30px;
}

.pdb30 {
    padding-bottom: 30px;
}

.dropdown-category {
    ul {
        list-style-type: none;
        padding: 0;
    }
}

.select-main {
    font-size: 18px;
    margin-right: 20px;
}

.form-control {
    display: inline-block;
    width: auto;
    border: 0;
}

select {
    border: 0;
    background-color: transparent;
}

select:required:invalid {
    color: #a18d55;
}

option[value=""][disabled] {
    display: none;
}

.act-head {
    font-size: 100px;
    font-weight: 600;
    text-align: center;
}

.shadow-up {
    position: absolute;
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(255, 255, 255, 0));
    height: 20%;
    width: 100%;
}

.shadow-down {
    position: absolute;
    bottom: 0;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.55));
    height: 20%;
    width: 100%;
}

.display,
.display2 {
    display: none;
}
//UPCOMING CSS START

.lm2 {
    height: 100% !important;
    padding: 5% 0;
    width: 38%;
    margin: 0 !important;
    float: right;
    background: rgba(0, 0, 152, 0.78);

    .hclass {
        line-height: 57px;
        margin-bottom: 0;
    }

    .LMP {
        font-size: 20px;
        font-weight: 900;
        margin-left: 4%;
    }

    .hclass1 {
        font-size: 94px;
    }

    .hclass2 {
        font-size: 94px;
        margin-left: 20px;
    }
}

.shadow-down2 {
    position: absolute;
    bottom: 0;
    background: rgba(255, 252, 252, 0.82);
    height: 35%;
    width: 100%;
}

.categoryup {
    background-color: #fcd116;
    padding: 20px 40px 40px;

    h1 {
        font-size: 70px;
        margin: 6% 0 2%;
        display: inline-block;
        width: 50%;
        line-height: 56px;
    }
}

.over-layer2 {
    display: none;
    background-color: rgba(255, 255, 255, 0.88);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.events:hover .over-layer2 {
    display: block;
}

.events:hover .event-name2,
.events:hover .shadow-down2 {
    display: none;
}

.event-name2 {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%);
    color: #fff;
    font-weight: 600;
    font-family: pregular;
    width: 100%;
    text-align: center;
}

.event-name2 {
    .eventp {
        margin: 0;
        font-size: 18px;
    }

    .eventh2 {
        margin-bottom: 5px;
        font-family: pregular;
        font-weight: 900;
        letter-spacing: -1px;
        font-size: 26px;
    }

    .eventhr {
        border-top: 3px solid #ffca18 !important;
        margin: 0 36% 7px !important;
    }
}

.hoverhold {
    font-weight: 600;
    margin: 28% 0 0;

    .eventp {
        margin: 0;
        font-size: 18px;
    }

    .eventh2 {
        margin-bottom: 5px;
        font-family: pregular;
        font-weight: 900;
        letter-spacing: -1px;
        font-size: 26px;
    }

    .eventhr {
        border-top: 3px solid #ffca18 !important;
        margin: 0 36% 7px !important;
    }

    .morebutton {
        outline: none;
        background: none;
        border: 0;
        letter-spacing: 2px;
        font-weight: 600;
        font-size: 14px;
        color: #ffffff;
        background-image: url("../img/btn-bg.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 10px 35px;
        margin: 3% 0;
    }
}
//PATTAYA2 CSS START

.mim1 {
    margin: -1px 0 0;
}

.categoryup2 {
    padding: 6%;
    margin: -5% 6%;
}

.pattayevents {
    .tittalep {
        padding-bottom: 6px;
        font-weight: 600;
        margin: 1% 11%;
    }

    .borderhr {
        width: 45%;
        border-bottom: 3px solid #ffca18 !important;
        padding-bottom: 8px;
        display: inline-block;
        font-weight: bolder;
        letter-spacing: -2px;
    }

    .list2 {
        margin: 0;
        padding: 0;
        font-size: 18px;
        word-spacing: 2px;
    }

    .margin-group {
        margin: 1px 6%;
    }
}

.img-box {
    width: 260px !important;
}

.iconmarg {
    margin: 54% 0;
}

.pattaya2logo {
    display: inline-block;
    position: absolute;
    top: 51%;
    right: 1%;
}

.marginicon {
    margin: 0 10px 10px;
}

.paddleft {
    padding-left: 10.2%;

    p {
        display: inline-block;
        padding: 0 28px;
        margin: 0 !important;
        font-size: 22px;
    }
}

.patayasocial {
    margin-top: -80% !important;
    margin-right: -11.4% !important;
}

.patayasocial2 {
    margin-top: -17% !important;
    margin-right: 4.3% !important;
}

.links2 {
    margin: 4% 0;

    .loadh1 {
        line-height: 47px;
    }

    .pattp1 {
        font-family: sans-serif;
        letter-spacing: -1px;
        margin: 4% 0;
        text-align: right;
        font-size: 25px;
        font-weight: bolder;
    }

    .pattp2 {
        font-family: sans-serif;
        letter-spacing: -1px;
        float: right;
        font-weight: bolder;
        font-size: 21px;
        padding: 1px 8px;
        margin: 0 0 0 20px;
        height: 100%;
        transform: skew(-42deg);

        .span {
            padding: 1px 0 1px 4px;
            margin: 0;
            transform: skew(41deg);
        }
    }
}

.pattayaimg {
    margin: 0 30%;
}

.fingurback {
    background: linear-gradient(rgba(255, 255, 255, 0) 58%, rgb(62, 62, 60));
}

.pattayah1 {
    margin: 0;
    font-size: 100px;
    font-weight: 800;
}

#slides_control > div {
    height: 200px;
}

#slides_control {
    position: absolute;
    width: 400px;
    left: 50%;
    top: 20px;
    margin-left: -200px;
}
