@media only screen and (max-width: 1205px) {
    .hdn {
        margin-right: -33px;
        width: 189px !important;
        padding: 20px 10px 0 !important;
        color: #0b358c;
        font-size: 16px;
        letter-spacing: 1px;
    }

    .tp {
        padding-left: 0 !important;
    }
}
@media (max-width: 992px) {
    .navbarleft {
        float: left !important;
        width: 56% !important;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 10px;
    }

    .hdn {
        font-size: 13px !important;
        width: auto !important;
    }
}
@media (max-width: 922px) {
    .margin4footer {
        margin-bottom: 4%;
    }
}
@media (max-width: 768px) {
    body {
        padding-top: 50px;
    }

    .borderright {
        border: none;
        width: auto;
    }

    .borderr {
        padding: 0;
    }

    .marg14 {
        margin: 0;
    }

    .borderwidth {
        width: auto;
        padding-right: 0;
        border: none;
    }

    .padd8 {
        padding: 5% 0;
    }

    .pattmarg2 {
        padding: 7% 0;
    }

    .patpack {
        font-size: 17px;
    }

    .patpack2 {
        font-size: 17px;
        margin-left: 7px;
        padding: 9px 29px 4px;
    }

    .checkboxrow {
        padding: 1% 2% 17%;
        text-align: center;
    }

    .checkboxrow .checkbox label {
        margin-left: 0 !important;
        font-size: 12px !important;
    }

    .pattsocial {
        margin-top: -28%;
    }

    .pattsocial .socialpatt .fontsizep {
        font-size: 12px;
    }

    .pattsocial .socialpatt {
        padding: 14px 0;
        font-size: 7px;
        width: 122px;
        margin-left: -85px;
        margin-bottom: 0;
    }

    .panelhead .fontpanel {
        font-size: 14px;
    }

    .checkboxrow p {
        margin: 0 !important;
        font-size: 18px;
    }

    .inputform {
        width: 59% !important;
        height: 17px !important;
        font-size: 12px;
    }

    .patmargin3 .formlabels label {
        font-size: 11px;
    }

    .pattayamarg4 p {
        font-size: 9px;
        margin: 0;
    }

    .wtlast .wtlast2 {
        margin: 0;
    }

    .wtsecond .wtsec2 .font15 {
        font-size: 10px;
    }

    .wtsocial {
        margin-top: -64%;
        margin-right: 3.3%;
    }

    .wtsocial .socialgr {
        margin-bottom: 0;
        margin-left: -44px;
        padding: 1px 0;
        width: 98px;
        font-size: 9px;
    }

    .wtsocial .social2 {
        margin-left: 5px;
        margin-top: -12px;
        padding: 12px 0;
    }

    .wtsocial .ulsocial2 {
        padding: 6px 0;
        width: 32px;
        font-size: 9px;
    }

    .wtsocial .ulsocial2 .fontsiz {
        font-size: 15px;
    }

    .wtsocial .ulsocial2 .ulsocial2i {
        padding: 2px 0;
        height: 16px;
        width: 16px;
        margin: 4px 0 5px 7px;
    }

    .wtsocial .socialimg {
        width: 16px;
        padding-right: 0;
        padding-top: 13px;
    }

    .select-main {
        margin: 0 !important;
    }

    .wtsecond .wtsec2 {
        padding: 14% 10% 6%;
    }

    .wtintro {
        font-size: 17px;
        text-align: center;
    }

    .whatsmain .whatsmarg4 .whatspadd3 {
        padding: 9% 3%;
    }

    .wtlast .wtlast2 .table > thead > tr > th {
        vertical-align: super;
        padding: 6px;
        font-size: 9px;
    }

    .wtlast .wtlast2 .table > tbody > tr > td {
        padding: 3px 6px;
        font-size: 10px;
        vertical-align: middle;
    }

    .whatsmain .whatsmarg4 .wtimg {
        padding: 10px 25px;
        font-size: 16px;
    }

    .whatsmain .whatsmarg4 .wtvi {
        margin: 0 23px;
        font-size: 20px;
    }

    .padding30px {
        padding-bottom: 30px;
    }

    .dlm {
        height: 39%;
        margin: 23% 0 0 !important;

        h1 {
            padding: 3% 0 0;
            font-size: 30px;
        }
    }

    .m4 .m2 .pd15 h1 {
        font-size: 29px;
        padding: 0;
    }

    .fsiz {
        font-size: 30px;
    }

    .pdb30 {
        padding: 0 !important;
    }

    .select-main i {
        font-size: 13px;
    }

    .category .form-group input {
        font-size: 13px;
    }

    .load-more .button-holder {
        font-size: 12px;
    }

    .padd30px {
        padding-bottom: 15px !important;
        padding-top: 0 !important;
    }

    .list {
        font-size: 12px;
    }

    .spAb h1 {
        font-size: 40px;
    }

    .spAb .ain {
        font-size: 10px;
    }

    .detailsfom .form-control {
        font-size: 12px;
        height: 33px;
    }

    .navbar-brand {
        padding: 14px 9px;
    }

    .hdp {
        padding: 18px 0 0;
    }

    .email-form {
        font-size: 24px;
    }

    .sendform a {
        font-size: 20px;
    }

    .textcenter {
        text-align: center;
    }

    .paddingabout {
        padding: initial;
    }

    .detailsfom .padding-l,
    .detailsfom .padding-r {
        padding: inherit;
    }

    .loadimag,
    .lodm {
        padding: 8% 0;

        a {
            padding: 13px 52px;
            font-size: 11px;
        }
    }

    .custtitle {
        font-size: 20px;
    }

    .himg2 .form-control {
        border-bottom: 1px solid #FDD116;
        background-size: 24px;
        font-size: 16px;
    }

    .imgab {
        width: 38%;
    }

    .himg2 {
        width: 63%;
        padding: 3% 2% 3% 19%;
        margin-left: 19%;
    }

    .labsec {
        font-size: 14px;
    }

    .imAb {
        margin: 0;
        width: 75px;
        display: inline-block;
    }

    .sado {
        display: inline-block;
        text-align: center;
        float: inherit;
    }

    .spAb {
        width: auto;
        text-align: center;
    }

    .eupt .ge {
        font-size: 18px;
    }

    .eupt .ie .form-control {
        text-align: center;
    }

    .lm {
        p {
            font-size: 8px;
        }

        h1 {
            font-size: 20px;
        }
    }

    .es {
        text-align: center;
    }

    .eupt p {
        font-size: 11px;
        display: inline-block;
        float: initial !important;
    }

    .imgf {
        right: 9px;
        top: -93px;
        width: 163px;
        position: absolute;
    }

    .footerfom .witdhimp {
        width: auto !important;
        margin: 0 0 15px !important;
    }

    .footb p,
    .footb2 p,
    .footerfom {
        text-align: center;
    }

    .footb2 p {
        font-size: 12px;
    }

    .stp {
        font-size: 14px;
        padding: 5% 0;
    }

    .mf,
    .textalign {
        text-align: center;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: inherit !important;
    }

    .navbarleft {
        float: inherit !important;
        width: auto !important;
    }

    .navbar-nav > li {
        float: inherit !important;
    }

    .hbc .tp {
        padding-left: 0;
    }

    .navbar-default .navbar-nav > li > a {
        color: #263878;
        border: none;
    }

    .hdn {
        padding: 20px 10px 0;
        color: #263878;
        font-size: 16px;
        letter-spacing: 1px;

        .mt3 {
            margin-top: 3%;
        }

        .tp {
            padding-left: 2px;
        }
    }

    .ap p {
        font-size: 14px;
    }

    .ap3 .cp {
        font-size: 17px;
    }

    .h1c {
        font-size: 51px;
    }

    .img-f img {
        margin-bottom: -2px;
    }

    .displaynon {
        display: none;
    }

    .display {
        cursor: pointer;
        display: block;
        margin-bottom: -21px;
        margin-top: 9%;
        padding-left: 10px;
    }

    .disp {
        font-weight: 600;
        font-size: 16px;
        color: #fff;
        background-image: url("../img/btn-bg.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 5px 32px;
        margin: 0;
        display: inline-block;
    }

    .disp2 {
        font-size: 34px;
        margin: 0;
        color: #ffca18;
        font-weight: bolder;
    }

    .display2 {
        cursor: pointer;
        display: block;
        text-align: right;
        margin-bottom: 7%;
    }
}
