<!---banner start ---->
<figure class="mim8">
    <img class="img-responsive" src="img/activity-ban.jpg">
</figure>

<!---FORM start ---->
<div class="pad9">
    <div class="container ">
        <div class="col-md-12 m4">
            <div class="marg4">
                <!---POPULAR DESTINATIONS ---->
                <div class="row pd15">
                    <h1 class="theboldfont custtitle">1. CHOOSE ACCOMMODATION</h1>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12 pdt15">
                        <div class="events">
                            <img src="img/bungee.png" alt="" class="img-responsive">
                            <div class="shadow-up"></div>
                            <div class="shadow-down"></div>
                            <div class="event-name">
                                <span>BUNGEE ACCOMMODATION AMSTERDAM</span>
                            </div>
                            <div class="over-layer text-center">
                                <div class="button-holder">
                                    <button class="ext-detail">ADD TO CART</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 pdt15">
                        <div class="events">
                            <img src="img/bungee.png" alt="" class="img-responsive">
                            <div class="shadow-up"></div>
                            <div class="shadow-down"></div>
                            <div class="event-name">
                                <span>3 STAR HOTEL IN AMSTERDAM</span>
                            </div>
                            <div class="over-layer text-center">
                                <div class="button-holder">
                                    <button class="ext-detail">ADD TO CART</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 pdt15">
                        <div class="events">
                            <img src="img/bungee.png" alt="" class="img-responsive">
                            <div class="shadow-up"></div>
                            <div class="shadow-down"></div>
                            <div class="event-name">
                                <span>LUXURY HOTEL IN AMSTERDAM</span>
                            </div>
                            <div class="over-layer text-center">
                                <div class="button-holder">
                                    <button class="ext-detail">ADD TO CART</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!---CHOOSE ACTIVITIES START ---->
                <div class="row ">
                    <h1 class="theboldfont custtitle">2. CHOOSE ACTIVITIES<br>NIGHT & DAYTIME </h1>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12 pdt15">
                        <div class="events">
                            <img src="img/bungee.png" alt="" class="img-responsive">
                            <div class="shadow-up"></div>
                            <div class="shadow-down"></div>
                            <div class="event-name">
                                <span>BUNGEE JUMPING</span>
                            </div>
                            <div class="over-layer text-center">
                                <div class="button-holder">
                                    <button class="ext-detail">ADD TO CART</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 pdt15">
                        <div class="events">
                            <img src="img/bungee.png" alt="" class="img-responsive">
                            <div class="shadow-up"></div>
                            <div class="shadow-down"></div>
                            <div class="event-name">
                                <span>ROCK CLIMBING</span>
                            </div>
                            <div class="over-layer text-center">
                                <div class="button-holder">
                                    <button class="ext-detail">ADD TO CART</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 pdt15">
                        <div class="events">
                            <img src="img/bungee.png" alt="" class="img-responsive">
                            <div class="shadow-up"></div>
                            <div class="shadow-down"></div>
                            <div class="event-name">
                                <span>RIVER RAFTING</span>
                            </div>
                            <div class="over-layer text-center">
                                <div class="button-holder">
                                    <button class="ext-detail">ADD TO CART</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 pdt15">
                        <div class="events">
                            <img src="img/bungee.png" alt="" class="img-responsive">
                            <div class="shadow-up"></div>
                            <div class="shadow-down"></div>
                            <div class="event-name">
                                <span>BUNGEE JUMPING</span>
                            </div>
                            <div class="over-layer text-center">
                                <div class="button-holder">
                                    <button class="ext-detail">ADD TO CART</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 pdt15">
                        <div class="events">
                            <img src="img/bungee.png" alt="" class="img-responsive">
                            <div class="shadow-up"></div>
                            <div class="shadow-down"></div>
                            <div class="event-name">
                                <span>ROCK CLIMBING</span>
                            </div>
                            <div class="over-layer text-center">
                                <div class="button-holder">
                                    <button class="ext-detail">ADD TO CART</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 pdt15">
                        <div class="events">
                            <img src="img/bungee.png" alt="" class="img-responsive">
                            <div class="shadow-up"></div>
                            <div class="shadow-down"></div>
                            <div class="event-name">
                                <span>RIVER RAFTING</span>
                            </div>
                            <div class="over-layer text-center">
                                <div class="button-holder">
                                    <button class="ext-detail">ADD TO CART</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 loadimag text-center ">
                        <a class="whit_color" ui-sref="home">LOAD  MORE</a>
                    </div>
                </div>
                <!---DETAILS START ---->
                <div class="row pd15">
                    <h1 class="theboldfont custtitle">3. DETAILS</h1>
                </div>
                <div class="row detailsfom">
                    <div class="col-md-6 padding-r ">
                        <div class="col-md-12 pdt10">
                            <input type="text" class="form-control Robotor" placeholder="Your name">
                        </div>
                        <div class="col-md-12 pdt10">
                            <input type="text" class="form-control Robotor" placeholder="Email">
                        </div>
                        <div class="col-md-6 pdt10">
                            <input type="text" class="form-control Robotor" placeholder="Phone">
                        </div>
                        <div class="col-md-6 pdt10">
                            <input type="text pdt15" class="form-control Robotor" placeholder="Group Size">
                        </div>
                        <div class="col-md-6 pdt10">
                            <input type="text" class="form-control Robotor" placeholder="From">
                        </div>
                        <div class="col-md-6 pdt10">
                            <input type="text" class="form-control Robotor" placeholder="To">
                        </div>
                    </div>
                    <div class="col-md-6 padding-l">
                        <div class="col-md-5 pdt10">
                            <input type="text" class="form-control Robotor" placeholder="Budget(per person)">
                        </div>
                        <div class="col-md-7 pdt10">
                            <input type="text pdt15" class="form-control Robotor" placeholder="WHAT STAGE IS YOUR  PLAN IN?">
                        </div>
                        <div class="col-md-12 pdt10">
                            <textarea class="form-control text-height Robotor" rows="7" placeholder="SOMETHING ELSE?"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12 lodm text-center ">
                        <a class="whit_color" ui-sref="home">GET YOUR QUOTE NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!---email update  ---->
<div class="eupt ">
    <div class="container">
        <div class="col-md-12">
            <div class="paddingabout">
                <div class="row padding5">
                    <div class="col-md-12 email-form pregular ">SEND US AN ENQUIRY</div>
                </div>
                <div class="row detailsfom">
                    <div class="col-md-6 padding-r ">
                        <div class="col-md-12 pdt10">
                            <input type="text" class="form-control" placeholder="Your name">
                        </div>
                        <div class="col-md-12 pdt10">
                            <input type="text" class="form-control" placeholder="Email">
                        </div>
                        <div class="col-md-12 pdt10">
                            <input type="text" class="form-control" placeholder="Phone">
                        </div>
                    </div>
                    <div class="col-md-6 padding-l">
                        <div class="col-md-12 pdt10">
                            <textarea class="form-control text-height" rows="7" placeholder="Write us a message"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 pregular text-center">
                    <p class="sendform"><a class="whit_color " ui-sref="home">SEND</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
