<!---date selibration ---->
<div class="container text-center">
    <h1 class="theboldfont yellow_color fsiz">DESTINATIONS</h1>
</div>

<figure>
    <img class="mainwidht" src="img/qwe.jpg">
    <figcaption>
        <div class="dlm">
            <h1 class="theboldfont">MUNICH</h1>
        </div>
    </figcaption>
</figure>

<div class="pad9">
    <div class="container ">
        <div class="col-md-12 m4">
            <div class="m2">
                <!---POPULAR DESTINATIONS ---->
                <div class="row pd15">
                    <h1 class="theboldfont whit_color">POPULAR<br>DESTINATIONS</h1>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 padding30px ">

                      <div class="desti-card2">
                            <div class="card">
                                <div class="side">
                                  <img src="img/rockclimb.png" alt="" class="img-responsive">
                                    <div class="shadow-down"></div>
                                    <div class="event-name">
                                        <span>BUNGEE JUMPING</span>
                                    </div>
                                </div>
                                <div class="side back">
                                    <div class="dis">
                                        <span> yyyyyyyyyyyy yyyyyyyyyyy yyyyyyyyy yyyyy yyyyyyyyyyyyyyy yyyyyyyyyyyyyy</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12  ">
                      <div class="desti-card2">
                            <div class="card">
                                <div class="side">
                                  <img src="img/rockclimb.png" alt="" class="img-responsive">
                                    <div class="shadow-down"></div>
                                    <div class="event-name">
                                        <span>BUNGEE JUMPING</span>
                                    </div>
                                </div>
                                <div class="side back">
                                    <div class="dis">
                                        <span> yyyyyyyyyyyy yyyyyyyyyyy yyyyyyyyy yyyyy yyyyyyyyyyyyyyy yyyyyyyyyyyyyy</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!---ALL DESTINATIONS ---->
                <div class="row pd15">
                    <h1 class="theboldfont whit_color">ALL<br>DESTINATIONS</h1>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12 pdt15">
                      <div class="desti-card">
                            <div class="card">
                                <div class="side">
                                  <img src="img/rafting1.png" alt="" class="img-responsive">
                                    <div class="shadow-down"></div>
                                    <div class="event-name">
                                        <span>BUNGEE JUMPING</span>
                                    </div>
                                </div>
                                <div class="side back">
                                    <div class="dis">
                                        <span> yyyyyyyyyyyy yyyyyyyyyyy yyyyyyyyy yyyyy yyyyyyyyyyyyyyy yyyyyyyyyyyyyy</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 pdt15">
                      <div class="desti-card ">
                            <div class="card">
                                <div class="side">
                                  <img src="img/rafting1.png" alt="" class="img-responsive">
                                    <div class="shadow-down"></div>
                                    <div class="event-name">
                                        <span>BUNGEE JUMPING</span>
                                    </div>
                                </div>
                                <div class="side back">
                                    <div class="dis">
                                        <span> yyyyyyyyyyyy yyyyyyyyyyy yyyyyyyyy yyyyy yyyyyyyyyyyyyyy yyyyyyyyyyyyyy</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 pdt15">
                      <div class="desti-card ">
                            <div class="card">
                                <div class="side">
                                  <img src="img/rafting1.png" alt="" class="img-responsive">
                                    <div class="shadow-down"></div>
                                    <div class="event-name">
                                        <span>BUNGEE JUMPING</span>
                                    </div>
                                </div>
                                <div class="side back">
                                    <div class="dis">
                                        <span> yyyyyyyyyyyy yyyyyyyyyyy yyyyyyyyy yyyyy yyyyyyyyyyyyyyy yyyyyyyyyyyyyy</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12 pdt15">
                      <div class="desti-card ">
                            <div class="card">
                                <div class="side">
                                  <img src="img/rafting1.png" alt="" class="img-responsive">
                                    <div class="shadow-down"></div>
                                    <div class="event-name">
                                        <span>BUNGEE JUMPING</span>
                                    </div>
                                </div>
                                <div class="side back">
                                    <div class="dis">
                                        <span> yyyyyyyyyyyy yyyyyyyyyyy yyyyyyyyy yyyyy yyyyyyyyyyyyyyy yyyyyyyyyyyyyy</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 pdt15">
                      <div class="desti-card ">
                            <div class="card">
                                <div class="side">
                                  <img src="img/rafting1.png" alt="" class="img-responsive">
                                    <div class="shadow-down"></div>
                                    <div class="event-name">
                                        <span>BUNGEE JUMPING</span>
                                    </div>
                                </div>
                                <div class="side back">
                                    <div class="dis">
                                        <span> yyyyyyyyyyyy yyyyyyyyyyy yyyyyyyyy yyyyy yyyyyyyyyyyyyyy yyyyyyyyyyyyyy</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 pdt15">
                      <div class="desti-card ">
                            <div class="card">
                                <div class="side">
                                  <img src="img/rafting1.png" alt="" class="img-responsive">
                                    <div class="shadow-down"></div>
                                    <div class="event-name">
                                        <span>BUNGEE JUMPING</span>
                                    </div>
                                </div>
                                <div class="side back">
                                    <div class="dis">
                                        <span> yyyyyyyyyyyy yyyyyyyyyyy yyyyyyyyy yyyyy yyyyyyyyyyyyyyy yyyyyyyyyyyyyy</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12  lodm text-center ">
                        <a class="whit_color" ui-sref="home">LOAD  MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!---email update  ---->
<div class="eupt">
    <div class="container">
        <div class="row">
            <form name="myForm">
                <div class="col-md-4 col-sm-4 col-xs-12 ge">GET EMAIL UPDATE</div>
                <div class="col-md-5 col-sm-4 col-xs-12 ie">
                    <input type="text" placeholder="Your email address" class="form-control" name="email" ng-modal="email.myForm" required>
                    <p class="error" ng-show="myForm.email.$error.required && myForm.email.$dirty">Email is required</p>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12 es">
                    <button type="submit">SUBSCRIBE</button>
                </div>
            </form>
        </div>
    </div>
</div>
