<div class="row">
<img src="img/Group-35.jpg" class="ims" style="display:block;margin-top: -71px;"  >
	</div>
<div class="row yec">
  <div class="container">
    <figure class="m2">
				<img class="ims" src="img/4.jpg">
				<figcaption>
					<div class="links">

          <div class="onimg">
						   <img class="imgab" src="img/6.png">
               <p class="himg2"><label for="sel1">I want to go to</label>
                  <select class="form-control">
                    <option>Spain</option>
                    <option>India</option>
                    <option>England</option>

                  </select>
              </p>
          </div>
					</div>
				</figcaption>
			</figure>
      <div class="row arow">
        	<img class="imAb" src="img/logo.png">
           <span class="spAb"><h1>ABOUT US</h1>
            <P class="ain">JHGUDGTAYFD</P>
            <P class="sado">KNOW THE TEAM</P>

           </span>
      </div>
      <figure class="m2" >
  				<img class="ims"src="img/4.jpg">
  				<figcaption>
  					<div class="links">
            <h1>WHAT'S HOT</h1>
            <p>TOMMOROWLAND<br>27th Agust,2016</p>
  					</div>
  				</figcaption>
  			</figure>
  </div>
</div>
<div class="row">
<div class="col-md-4 col-sm-6 col-xs-12">GET EMAIL UPDATE</div>
<div class="col-md-4 col-sm-6 col-xs-12"><input type="text" placeholder="Your email address"class="form-control" ></div>
<div class="col-md-4 col-sm-6 col-xs-12"><p>SUBSCRIBE</p></div>
</div>
