<div class="row">
  <img src="img/Group-35.jpg" class="ims" style="display:block;margin-top: -71px;"  >
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-2">
    <figure class="m2">
				<img class="ims" src="img/1.jpg">
				<figcaption>
					<div class="links">
          <div class="onimg">
						   <img class="imgab" src="img/ggl.png">
               <p class="himg2">AMSTERDAM</p>
          </div>
					</div>
				</figcaption>
			</figure>
  </div>
  <div class="col-md-2">
    <figure class="m2">
				<img class="ims" src="img/3.jpg">
				<figcaption>
					<div class="links">
          <div class="onimg">
               <p class="himg2">CROATIA</p>
          </div>
					</div>
				</figcaption>
			</figure>
  </div>
  <div class="col-md-2">
    <figure class="m2">
				<img class="ims" src="img/2.jpg">
				<figcaption>
					<div class="links">
          <div class="onimg">
               <p class="himg2">IBIZA</p>
          </div>
					</div>
				</figcaption>
			</figure>
  </div>
  <div class="col-md-2">
    <figure class="m2">
				<img class="ims" src="img/1.jpg">
				<figcaption>
					<div class="links">
          <div class="onimg">
               <p class="himg2">LAS VEGAS</p>
          </div>
					</div>
				</figcaption>
			</figure>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-2">
    <figure class="m2">
				<img class="ims" src="img/1.jpg">
				<figcaption>
					<div class="links">
          <div class="onimg">
						   <img class="imgab" src="img/ggl.png">
               <p class="himg2">AMSTERDAM</p>
          </div>
					</div>
				</figcaption>
			</figure>
  </div>
  <div class="col-md-2">
    <figure class="m2">
				<img class="ims" src="img/3.jpg">
				<figcaption>
					<div class="links">
          <div class="onimg">
               <p class="himg2">CROATIA</p>
          </div>
					</div>
				</figcaption>
			</figure>
  </div>
  <div class="col-md-2">
    <figure class="m2">
				<img class="ims" src="img/2.jpg">
				<figcaption>
					<div class="links">
          <div class="onimg">
               <p class="himg2">IBIZA</p>
          </div>
					</div>
				</figcaption>
			</figure>
  </div>
  <div class="col-md-2">
    <figure class="m2">
				<img class="ims" src="img/1.jpg">
				<figcaption>
					<div class="links">
          <div class="onimg">
               <p class="himg2">LAS VEGAS</p>
          </div>
					</div>
				</figcaption>
			</figure>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row yec">
  <div class="container">
    <figure class="m2">
				<img class="ims" src="img/4.jpg">
				<figcaption>
					<div class="links">
          <div class="onimg">
						   <img class="imgab" src="img/6.png">
               <p class="himg2"><label for="sel1">I want to go to</label>
                  <select class="form-control">
                    <option>Spain</option>
                    <option>India</option>
                    <option>England</option>
                  </select>
              </p>
          </div>
					</div>
				</figcaption>
			</figure>
      <div class="row arow">
        	<img class="imAb" src="img/wd.png">
           <span class="spAb"><h1>ABOUT US</h1>
              <P class="ain">Lorem lpsum is simply dummy text of the printing and typestting industry. Lorem lpsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a gallery of type and scrambled ir to make a type specimen book It has survived not only five centries, but also the leap into electronic typesetting,remaining essentially unchanged. Lorem Ipsum is simply summy text....</P>
              <P class="sado">KNOW THE TEAM</P>
           </span>
      </div>
      <figure class="m2" >
  				<img class="ims"src="img/qwe.jpg">
  				<figcaption>
  					<div class="links lm">
            <h1>WHAT'S HOT</h1>
            <p>TOMMOROWLAND<br>27th Agust,2016</p>
  					</div>
  				</figcaption>
  			</figure>
  </div>
</div>
<div class="row eupt">
<div class="col-md-3 col-sm-6 col-xs-12 ge">GET EMAIL UPDATE</div>
<div class="col-md-6 col-sm-6 col-xs-12 ie"><input type="text" placeholder="Your email address"class="form-control" ></div>
<div class="col-md-3 col-sm-6 col-xs-12 es"><p>SUBSCRIBE</p></div>
</div>
