<!---top image---->
<img src="img/Group-35.jpg" class="img-responsive" style="display:block;margin-top: -71px;"  >

<!---slider images ---->
<div class="container">
  <div class="row">

    <div class="col-md-4 col-sm-4 col-xs-4 ">
      <p class="p">POPULAR</p>
      <p class="p2 p22">DESTIN ATIONS</p>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2  ">
      <figure class="">
  				<img class="img-responsive" src="img/1.jpg">
  				<figcaption class="bg">
  					<div class="lin">
            <div class="imghover">
  						   <img class="inmIMG" src="img/ggl.png">
                 <p>AMSTERDAM</p>
            </div>
  					</div>
  				</figcaption>
  			</figure>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2  ">
      <figure>
  				<img class="img-responsive" src="img/3.jpg">
  				<figcaption class="backcolor">
  					<div class="lin">
            <div class="padup">
                 <p >CROATIA</p>
            </div>
  					</div>
  				</figcaption>
  			</figure>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2  ">
      <figure >
  				<img class="img-responsive" src="img/2.jpg">
  				<figcaption class="backcolor">
  					<div class="lin">
            <div class="padup">
                 <p >IBIZA</p>
            </div>
  					</div>
  				</figcaption>
  			</figure>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2 pcol colba">
      <figure >
  				<img class="img-responsive" src="img/1.jpg">
  				<figcaption class="backcolor">
  					<div class="lin">
            <div class="padup">
                 <p >LAS VEGAS</p>
            </div>
  					</div>
  				</figcaption>
  			</figure>
    </div>
    
  </div>
</div>


<!--<div class="container ">

  <div class="row">
  <div class="col-md-3 col-sm-3 col-xs-3 pcol">
    <p class="p">POPULAR</p>
    <p class="p2 p22">DESTIN ATIONS</p>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2  pcol">
    <figure class="">
				<img class="ims" src="img/1.jpg">
				<figcaption class="bg">
					<div class="lin">
          <div class="imghover">
						   <img class="inmIMG" src="img/ggl.png">
               <p>AMSTERDAM</p>
          </div>
					</div>
				</figcaption>
			</figure>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 pcol pcolHup">
    <figure>
				<img class="ims" src="img/3.jpg">
				<figcaption class="backcolor">
					<div class="lin">
          <div class="padup">
               <p >CROATIA</p>
          </div>
					</div>
				</figcaption>
			</figure>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 pcol colba">
    <figure >
				<img class="ims" src="img/2.jpg">
				<figcaption class="backcolor">
					<div class="lin">
          <div class="padup">
               <p >IBIZA</p>
          </div>
					</div>
				</figcaption>
			</figure>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 pcol colba">
    <figure >
				<img class="ims" src="img/1.jpg">
				<figcaption class="backcolor">
					<div class="lin">
          <div class="padup">
               <p >LAS VEGAS</p>
          </div>
					</div>
				</figcaption>
			</figure>
  </div>
  <div class="col-md-1 col-sm-1 col-xs-1 pcol"></div>
</div>



  <div class="inm2">
    <div class="row">
<div class="col-md-1 col-sm-1 col-xs-1 "></div>
  <div class="col-md-2 col-sm-2 col-xs-2 pcol2 colba">
    <figure >
				<img class="ims" src="img/3.jpg">
				<figcaption class="backcolor">
					<div class="lin">
          <div class="padup">
               <p>AMSTERDAM</p>
          </div>
					</div>
				</figcaption>
			</figure>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 pcol2 colba">
    	<img class="ims" src="img/2.jpg">
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 pcol2 pcolDown">
    <img class="ims" src="img/3.jpg">
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 pcol2">
    <img class="ims" src="img/1.jpg">
  </div>
  <div class="col-md-3 col-sm-3 col-xs-3 pcol2">
    <p class="p p1">POPULAR</p>
    <p class="p2 p222">ATTRA CTIONS</p>
  </div>
</div>
</div>-->

<!---select optional ---->
<div class="padd paddup">
    <figure class="m2">
				<img class="img-responsive" src="img/4.jpg">
				<figcaption>
					<div class="links">
            <div class="onimg">
  						   <img class="imgab" src="img/6.png">
                 <p class="himg2"><label for="sel1">I want to go to</label>
                    <select class="form-control">
                      <option>Spain</option>
                      <option>India</option>
                      <option>England</option>
                    </select>
                </p>
            </div>
					</div>
				</figcaption>
			</figure>
  </div>

<!---about ---->
<div class="aboutin">
   <img class="imAb" src="img/wd.png">
   <span class="spAb"><h1>ABOUT US</h1>
      <P class="ain">Lorem lpsum is simply dummy text of the printing and typestting industry. Lorem lpsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a gallery of type and scrambled ir to make a type specimen book It has survived not only five centries, but also the leap into electronic typesetting,remaining essentially unchanged. Lorem Ipsum is simply summy text....</P>
      <P class="sado">KNOW THE TEAM</P>
   </span>
</div>

<!---date selibration ---->
<div class="padd padddown">
  <figure class="m2" >
    <img class="img-responsive"src="img/qwe.jpg">
    <figcaption>
      <div class="links lm">
      <h1>WHAT'S HOT</h1>
      <p>TOMMOROWLAND<br>27th Agust,2016</p>
      </div>
    </figcaption>
  </figure>
</div>

<!---email update  ---->
<div class="row eupt">
  <div class="col-md-3 col-sm-6 col-xs-12 ge">GET EMAIL UPDATE</div>
  <div class="col-md-6 col-sm-6 col-xs-12 ie"><input type="text" placeholder="Your email address"class="form-control" ></div>
  <div class="col-md-3 col-sm-6 col-xs-12 es"><p>SUBSCRIBE</p></div>
</div>
