<div class="pataya-page">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="act-banner">
                  <img src="img/pattaya-ban.png" alt="" class="img-responsive">
                  <div class="activity-subhead">
                      <h3 class="act-head theboldfont">THAILAND PATTAYA</h3>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 pd50">
              <div class="category">
    </div>
  </div>
</div>
</div>
</div>
