<!---banner start ---->
<div class="container">
    <figure class="mim1">
        <img class="img-responsive doneLoading" src="img/12.jpg">
        <figcaption class="fingurback">
            <div class="links2">
                <div class="pattayaimg">
                    <h1 class="pattayah1 theboldfont yellow_color">LOADED</h1>
                    <h1 class="loadh1 pattayah1 theboldfont">PACKAGE</h1>
                    <p class=" pattp1">(4 NIGHTS/8 TO 10 PERSONS)</p>
                    <span class=" pattp2 yellow_back_lightcolor bluecol">
                      <p class="span">START @ ₹ 50,000</p>
                    </span>
                </div>
            </div>
        </figcaption>
    </figure>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="categoryup2 yellow_back_lightcolor">
                <div class="row">
                    <div masonry>
                        <div class="masonry-brick padd15px" ng-repeat="scope in data">
                            <div class="marginicon">
                                <div class="pattayevents white_back_color">
                                    <img ng-src="{{ scope.img  }}" class="img-box" alt="A masonry scope">
                                    <div class="tittalep">
                                        <h2 class="bluecol eventh2 Robotor borderhr">{{ scope.day  }}</h2>
                                        <ul class="list-group bluecol margin-group">
                                            <li class="list2 Roboto "> {{ scope.li }} </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pattaya2logo">
                            <img src="img/wd.png" alt="" class="img-box">
                        </div>
                    </div>
                </div>
                <div class="pull-right wtsocial patayasocial">
                    <div class="col-md-12 social1">
                        <ul class="list-group socialgr">
                            <li class="Robotor">
                                <a class="yellow_color pregular"><img src="img/cart.png" alt="" class="socialimg img-responsive doneLoading">ADD TO CART</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-12 social2">
                        <ul class="ulsocial2 list-group">
                            <li class=""><a class="fontsiz yellow_color pregular"><i class="fa fa-share-alt"></i></a></li>
                            <li class="ulsocial2i "><a class="bluecol pregular"><i class="fa fa-facebook"></i></a></li>
                            <li class="ulsocial2i "><a class="bluecol pregular"><i class="fa fa-twitter"></i></a></li>
                            <li class="ulsocial2i "><a class="bluecol pregular"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pattsocial patayasocial2 pull-right">
    <div class="col-md-12">
        <ul class="list-group socialpatt">
            <li class="Robotor">
                <a class="black fontsizep Roboto">ENQUIRE NOW</a>
            </li>
        </ul>
    </div>
</div>

<div class="paddleft">
    <p class="pregular bluecol yellow_back_color ">MY CART</p>
</div>

<div class="paddmain yellow_back_lightcolor">
    <div class="container ">
        <div class="col-md-12 patmargin3">
            <div class="whatsmarg4">
                <!---ACCORDION ---->
                <div class="row textalign">
                    <div class="col-md-3 col-sm-6 col-xs-12 padd8 formlabels Roboto">
                        <form>
                            <div class="form-group">
                                <label class="labels bluecol" for="usr">Name:</label>
                                <input type="text" class="form-control inputform " id="usr">
                            </div>
                            <div class="form-group">
                                <label class="labels bluecol" for="pwd">Email Id:</label>
                                <input type="text" class="form-control inputform" id="email">
                            </div>
                            <div class="form-group">
                                <label class="labels bluecol" for="pwd">Mob No:</label>
                                <input type="text" class="form-control inputform" id="number">
                            </div>
                            <div class="form-group">
                                <label class="labels bluecol" for="pwd">Group Size</label>
                                <input type="text" class="form-control inputform" id="text">
                            </div>
                            <div class="row">
                                <button>SUBMIT</button>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-2 col-sm-3 col-xs-6 marg13 padd8">
                        <div class="borderwidth">
                            <strong class="naming bluecol">PARIS</strong>
                            <div class="patevent">
                                <img src="img/1.png" alt="" class="img-responsive ">
                                <div class="cart-section">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 marg13 padd8">
                        <div class="borderright"><strong class="naming bluecol">PATTAYA</strong>
                            <div class="img1">
                                <div class="patevent">
                                    <img src="img/2.png" alt="" class="img-responsive ">
                                    <div class="cart-section">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="img1">
                                <div class="patevent">
                                    <img src="img/3.png" alt="" class="img-responsive ">
                                    <div class="cart-section">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-6 marg14 padd8">
                        <div class="borderr"><strong class="naming bluecol">AMSTERSAM</strong>
                            <div class="patevent">
                                <img src="img/1.png" alt="" class="img-responsive ">
                                <div class="cart-section">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 marg14"> </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--email update -->
<div class="eupt ng-scope">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 ge pregular">GET EMAIL UPDATE</div>
            <div class="col-md-5 col-sm-6 col-xs-12 ie">
                <input type="text" placeholder="Your email address" class="form-control Roboto">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 es pregular">
                <p><a class="whit_color" ui-sref="home" href="#/">SUBSCRIBE</a></p>
            </div>
        </div>
    </div>
</div>
