<!---banner start ---->
<figure class="mim8">
    <img class="img-responsive doneLoading" src="img/4.jpg">
    <figcaption>
        <div class="links">
            <div class="onimg">
            </div>
        </div>
    </figcaption>
</figure>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="categoryup2">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12 padd15px">
                        <div class="pattayevents white_back_color">
                            <img src="img/rockclimb.png" alt="" class="img-responsive">
                            <div class="tittalep">
                                <h2 class="bluecol eventh2 Robotor borderhr">DAY 1</h2>
                                <ul class="list-group bluecol margin-group">
                                    <li class="list2 Roboto ">Welcome by our guide at the airport</li>
                                    <li class="list2 Roboto ">Hotel Transfer (Minivan)</li>
                                    <li class="list2 Roboto ">Breakfast along the way</li>
                                    <li class="list2 Roboto ">pool Party</li>
                                    <li class="list2 Roboto ">Lunch</li>
                                    <li class="list2 Roboto ">VIP night club</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 padd15px">
                        <div class="pattayevents white_back_color">
                            <img src="img/rockclimb.png" alt="" class="img-responsive">
                            <div class="tittalep">
                                <h2 class="bluecol eventh2 Robotor borderhr">DAY 1</h2>
                                <ul class="list-group bluecol margin-group">
                                    <li class="list2 Roboto ">Welcome by our guide at the airport</li>
                                    <li class="list2 Roboto ">Hotel Transfer (Minivan)</li>
                                    <li class="list2 Roboto ">Breakfast along the way</li>
                                    <li class="list2 Roboto ">pool Party</li>
                                    <li class="list2 Roboto ">Lunch</li>
                                    <li class="list2 Roboto ">VIP night club</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 padd15px">
                        <div class="pattayevents white_back_color">
                            <img src="img/rockclimb.png" alt="" class="img-responsive">
                            <div class="tittalep">
                                <h2 class="bluecol eventh2 Robotor borderhr">DAY 1</h2>
                                <ul class="list-group bluecol margin-group">
                                    <li class="list2 Roboto ">Welcome by our guide at the airport</li>
                                    <li class="list2 Roboto ">Hotel Transfer (Minivan)</li>
                                    <li class="list2 Roboto ">Breakfast along the way</li>
                                    <li class="list2 Roboto ">pool Party</li>
                                    <li class="list2 Roboto ">Lunch</li>
                                    <li class="list2 Roboto ">VIP night club</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 padd15px">
                        <div class="pattayevents white_back_color">
                            <img src="img/rockclimb.png" alt="" class="img-responsive">
                            <div class="tittalep">
                                <h2 class="bluecol eventh2 Robotor borderhr">DAY 1</h2>
                                <ul class="list-group bluecol margin-group">
                                    <li class="list2 Roboto ">Welcome by our guide at the airport</li>
                                    <li class="list2 Roboto ">Hotel Transfer (Minivan)</li>
                                    <li class="list2 Roboto ">Breakfast along the way</li>
                                    <li class="list2 Roboto ">pool Party</li>
                                    <li class="list2 Roboto ">Lunch</li>
                                    <li class="list2 Roboto ">VIP night club</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 padd15px">
                        <div class="pattayevents white_back_color">
                            <img src="img/rockclimb.png" alt="" class="img-responsive">
                            <div class="tittalep">
                                <h2 class="bluecol eventh2 Robotor borderhr">DAY 1</h2>
                                <ul class="list-group bluecol margin-group">
                                    <li class="list2 Roboto ">Welcome by our guide at the airport</li>
                                    <li class="list2 Roboto ">Hotel Transfer (Minivan)</li>
                                    <li class="list2 Roboto ">Breakfast along the way</li>
                                    <li class="list2 Roboto ">pool Party</li>
                                    <li class="list2 Roboto ">Lunch</li>
                                    <li class="list2 Roboto ">VIP night club</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 padd15px">
                        <div class="pattayevents iconmarg">
                            <img src="img/wd.png" alt="" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="paddmain yellow_back_lightcolor">
    <div class="container ">
        <div class="col-md-12 patmargin3">
            <div class="whatsmarg4">
                <!---ACCORDION ---->
                <div class="row textalign">
                    <div class="col-md-3 col-sm-6 col-xs-12 padd8 formlabels Roboto">
                        <form>
                            <div class="form-group">
                                <label class="labels bluecol" for="usr">Name:</label>
                                <input type="text" class="form-control inputform " id="usr">
                            </div>
                            <div class="form-group">
                                <label class="labels bluecol" for="pwd">Email Id:</label>
                                <input type="text" class="form-control inputform" id="email">
                            </div>
                            <div class="form-group">
                                <label class="labels bluecol" for="pwd">Mob No:</label>
                                <input type="text" class="form-control inputform" id="number">
                            </div>
                            <div class="form-group">
                                <label class="labels bluecol" for="pwd">Group Size</label>
                                <input type="text" class="form-control inputform" id="text">
                            </div>
                            <div class="row">
                                <button>SUBMIT</button>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-2 col-sm-3 col-xs-6 marg13 padd8">
                        <div class="borderwidth">
                            <strong class="naming bluecol">PARIS</strong>
                            <div class="patevent">
                                <img src="img/1.png" alt="" class="img-responsive ">
                                <div class="cart-section">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 marg13 padd8">
                        <div class="borderright"><strong class="naming bluecol">PATTAYA</strong>
                            <div class="img1">
                                <div class="patevent">
                                    <img src="img/2.png" alt="" class="img-responsive ">
                                    <div class="cart-section">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="img1">
                                <div class="patevent">
                                    <img src="img/3.png" alt="" class="img-responsive ">
                                    <div class="cart-section">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-6 marg14 padd8">
                        <div class="borderr"><strong class="naming bluecol">AMSTERSAM</strong>
                            <div class="patevent">
                                <img src="img/1.png" alt="" class="img-responsive ">
                                <div class="cart-section">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 marg14"> </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--email update -->
<div class="eupt ng-scope">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 ge pregular">GET EMAIL UPDATE</div>
            <div class="col-md-5 col-sm-6 col-xs-12 ie">
                <input type="text" placeholder="Your email address" class="form-control Roboto">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 es pregular">
                <p><a class="whit_color" ui-sref="home" href="#/">SUBSCRIBE</a></p>
            </div>
        </div>
    </div>
</div>
