<!---banner start ---->
<figure class="mim8">
  <img class="img-responsive" src="img/pattaya-ban.jpg">
</figure>
<div class="whatsmain">
  <div class="container ">
    <div class="col-md-12">
      <div class="pattayamarg4 yellow_back_lightcolor">
        <div class="row Robotor bluecol">
          <p>Pattaya also know as'A land of sins'! This city is famous for its informous reputation. Acity definitely not recommended for a feeble hearted.</p>
          <p>Let us plan an eic trip for you and your friends, remember bachelor party is not just all about the individual but for the whole royal gang.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!---FORM start ---->
<div class="whatsmain">
  <div class="container ">
    <div class="col-md-12 ">
      <div class="whatsmarg4">
        <!---POPULAR DESTINATIONS ---->
        <div class="row text-center pattmarg2">
          <span><a class="patpack theboldfont" ui-sref="home" href="#/">PACKAGES</a></span>
          <span><a class="patpack2 whit_color theboldfont " ui-sref="home" href="#/">ACTIVITIES</a></span>
        </div>
        <div class="whatsmain">
          <div class="margincheck">
            <div class="row checkboxrow Robotor bluecol yellow_back_color">
              <div class="col-md-4 col-sm-6 col-xs-12  pading5 ">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="all">All</label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="day">Day</label> <img src="img/Vector-Smart-Object1.png" alt="" class="check_img">
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="night">Night</label> <img src="img/Vector-Smart-Object (1).png" alt="" class="check_img2">
                </div>
              </div>
              <div class="col-md-8 col-sm-6 col-xs-12">
                <p>Customise your trip by adding to cart</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row pattmarg3">
          <div class="col-md-3 col-sm-4 col-xs-6 pading0">
            <div class="events">
              <img src="img/bungee.png" alt="" class="img-responsive ">
              <div class="cart-sec">
                <img src="img/cart.png" alt="" class="img-responsive ">
              </div>
              <div class="shadow-up"></div>
              <div class="shadow-down"></div>
              <div class="event-name">
                <span>SURF BOARDING</span>
              </div>
              <div class="over-layer text-center">
                <div class="button-holder">
                  <button class="ext-detail">KNOW MORE</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 pading0">
            <div class="events">
              <img src="img/bungee.png" alt="" class="img-responsive doneLoading">
              <div class="cart-sec">
                <img src="img/cart.png" alt="" class="img-responsive doneLoading">
              </div>
              <div class="shadow-up"></div>
              <div class="shadow-down"></div>
              <div class="event-name">
                <span>BUNGEE JUMPING</span>
              </div>
              <div class="over-layer text-center">
                <div class="button-holder">
                  <button class="ext-detail">KNOW MORE</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 pading0">
            <div class="events">
              <img src="img/bungee.png" alt="" class="img-responsive doneLoading">
              <div class="cart-sec">
                <img src="img/cart.png" alt="" class="img-responsive doneLoading">
              </div>
              <div class="shadow-up"></div>
              <div class="shadow-down"></div>
              <div class="event-name">
                <span>RIVER RAFTING</span>
              </div>
              <div class="over-layer text-center">
                <div class="button-holder">
                  <button class="ext-detail">KNOW MORE</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 pading0">
            <div class="events">
              <img src="img/bungee.png" alt="" class="img-responsive doneLoading">
              <div class="cart-sec">
                <img src="img/cart.png" alt="" class="img-responsive doneLoading">
              </div>
              <div class="shadow-up"></div>
              <div class="shadow-down"></div>
              <div class="event-name">
                <span>ROCK CLIMBING</span>
              </div>
              <div class="over-layer text-center">
                <div class="button-holder">
                  <button class="ext-detail">KNOW MORE</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 pading0">
            <div class="events">
              <img src="img/bungee.png" alt="" class="img-responsive doneLoading">
              <div class="cart-sec">
                <img src="img/cart.png" alt="" class="img-responsive doneLoading">
              </div>
              <div class="shadow-up"></div>
              <div class="shadow-down"></div>
              <div class="event-name">
                <span>SURF BOARDING</span>
              </div>
              <div class="over-layer text-center">
                <div class="button-holder">
                  <button class="ext-detail">KNOW MORE</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 pading0">
            <div class="events">
              <img src="img/bungee.png" alt="" class="img-responsive doneLoading">
              <div class="cart-sec">
                <img src="img/cart.png" alt="" class="img-responsive doneLoading">
              </div>
              <div class="shadow-up"></div>
              <div class="shadow-down"></div>
              <div class="event-name">
                <span>BUNGEE JUMPING</span>
              </div>
              <div class="over-layer text-center">
                <div class="button-holder">
                  <button class="ext-detail">KNOW MORE</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 pading0">
            <div class="events">
              <img src="img/bungee.png" alt="" class="img-responsive doneLoading">
              <div class="cart-sec">
                <img src="img/cart.png" alt="" class="img-responsive doneLoading">
              </div>
              <div class="shadow-up"></div>
              <div class="shadow-down"></div>
              <div class="event-name">
                <span>RIVER RAFTING</span>
              </div>
              <div class="over-layer text-center">
                <div class="button-holder">
                  <button class="ext-detail">KNOW MORE</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 pading0">
            <div class="events">
              <img src="img/bungee.png" alt="" class="img-responsive">
              <div class="cart-sec">
                <img src="img/cart.png" alt="" class="img-responsive">
              </div>
              <div class="shadow-up"></div>
              <div class="shadow-down"></div>
              <div class="event-name">
                <span>ROCK CLIMBING</span>
              </div>
              <div class="over-layer text-center">
                <div class="button-holder">
                  <button class="ext-detail">KNOW MORE</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12  col-sm-12 col-xs-12 loadimag text-center ">
          <a class="whit_color" ui-sref="home" href="#/">LOAD  MORE</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pattsocial pull-right">
  <div class="col-md-12">
    <ul class="list-group socialpatt">
      <li class="Robotor">
        <a class="black fontsizep Roboto">ENQUIRE NOW</a>
      </li>
    </ul>
  </div>
</div>

<div class="whatsmain">
  <div class="container ">
    <div class="col-md-12 margin3">
      <div class="whatsmarg4">

        <!---ACCORDION ---->
        <div class="row pregular">
          <!---Parraya---->
          <div class="panelhead">
            <div class="panel-heading">
              <h4 class="panel-title fontpanel Pregular bluecol">  <img src="img/buildings.png" alt="" class="image_title"> Pattaya - The Real City Of Sin
                      <a data-toggle="collapse"  data-target="#collapse" ><i class=" pull-right fa fa-plus" aria-hidden="true"></i></a>
                  </h4>
            </div>
            <div id="collapse" class="panel-collapse collapse">
              <div class="panel-body">blank</div>
            </div>
          </div>

          <!---City Guide---->
          <div class="panelhead">
            <div class="panel-heading">
              <h4 class="panel-title fontpanel Pregular bluecol"><img src="img/map-with-placeholder.png" alt="" class="image_title"> City Guide For Stags
                      <a data-toggle="collapse"  data-target="#collapse2" ><i class=" pull-right fa fa-plus" aria-hidden="true"></i></a>
                  </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
              <div class="panel-body">blank</div>
            </div>
          </div>
          <!---How to Get to Pattaya---->
          <div class="panelhead">
            <div class="panel-heading">
              <h4 class="panel-title fontpanel Pregular bluecol"><img src="img/departures.png" alt="" class="image_title"> How To Get To Pattaya
                      <a data-toggle="collapse"  data-target="#collapse3" ><i class=" pull-right fa fa-plus" aria-hidden="true"></i></a>
                  </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
              <div class="panel-body">blank</div>
            </div>
          </div>
          <!---Visa ---->
          <div class="panelhead">
            <div class="panel-heading">
              <h4 class="panel-title fontpanel Pregular bluecol"><img src="img/visa-card.png" alt="" class="image_title"> Visa
                      <a data-toggle="collapse"  data-target="#collapse4" ><i class=" pull-right fa fa-plus" aria-hidden="true"></i></a>
                  </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
              <div class="panel-body">blank</div>
            </div>
          </div>
          <!---City ---->
          <div class="panelhead">
            <div class="panel-heading">
              <h4 class="panel-title fontpanel Pregular bluecol"><img src="img/scripting.png" alt="" class="image_title"> City Details
                      <a data-toggle="collapse"  data-target="#collapse5" ><i class=" pull-right fa fa-plus" aria-hidden="true"></i></a>
                  </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
              <div class="panel-body yellow_back_color">
                <div class="whatsmain">
                  <div class="col-md-12">
                    <div class="row padding30">
                      <ul class="list-group socialpatt">
                        <li class="Robotor bluecol">
                          <strong class="padding15">Distance from Mumbai</strong>
                        </li>
                        <li class="Robotor nonlist bluecol">
                          <p>Four and a half hours by flight followed by a two and a half hour road trip</p>
                        </li>
                        <li class="Robotor bluecol">
                          <strong class="padding15">distance from dubai</strong>
                        </li>
                        <li class="Robotor nonlist bluecol">
                          <p>Nine hours and fifteen minutes by flight followed by a two and a half hour rpad trip
                            <p/>
                        </li>
                      </ul>
                    </div>
                    <div class="row padding30">
                      <div class="col-md-3 pading0">
                        <figure>
                          <img class="img-responsive" src="img/Layer-56.jpg">
                          <figcaption>
                            <div class="lin">
                              <div class="frammargin">
                                <img class="img-responsive doneLoading" src="img/ply.png">
                              </div>
                            </div>
                          </figcaption>
                        </figure>

                      </div>
                      <div class="col-md-3 pading0">
                        <figure>
                          <img class="img-responsive" src="img/Layer-56.jpg">
                          <figcaption>
                            <div class="lin">
                              <div class="frammargin">
                                <img class="img-responsive doneLoading" src="img/ply.png">
                              </div>
                            </div>
                          </figcaption>
                        </figure>
                      </div>
                      <div class="col-md-3 pading0">
                        <figure>
                          <img class="img-responsive" src="img/Layer-56.jpg">
                          <figcaption>
                            <div class="lin">
                              <div class="frammargin">
                                <img class="img-responsive doneLoading" src="img/ply.png">
                              </div>
                            </div>
                          </figcaption>
                        </figure>
                      </div>
                      <div class="col-md-3 pading0">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!---Clubs ---->
          <div class="panelhead">
            <div class="panel-heading">
              <h4 class="panel-title fontpanel Pregular bluecol"><img src="img/drink-beer-jar.png" alt="" class="image_title"> Clubs and Beers
                      <a data-toggle="collapse"  data-target="#collapse6" ><i class=" pull-right fa fa-plus" aria-hidden="true"></i></a>
                  </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
              <div class="panel-body">blank</div>
            </div>
          </div>
        </div>
        <div class="row border5">
          <p class="pregular bluecol yellow_back_color ">MY CART</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="paddmain yellow_back_lightcolor">
  <div class="container ">
    <div class="col-md-12 patmargin3">
      <div class="whatsmarg4">
        <!---ACCORDION ---->
        <div class="row textalign">
          <div class="col-md-3 col-sm-6 col-xs-12 padd8 formlabels Roboto">
            <form>
              <div class="form-group">
                <label class="labels bluecol" for="usr">Name:</label>
                <input type="text" class="form-control inputform " id="usr">
              </div>
              <div class="form-group">
                <label class="labels bluecol" for="pwd">Email Id:</label>
                <input type="text" class="form-control inputform" id="email">
              </div>
              <div class="form-group">
                <label class="labels bluecol" for="pwd">Mob No:</label>
                <input type="text" class="form-control inputform" id="number">
              </div>
              <div class="form-group">
                <label class="labels bluecol" for="pwd">Group Size</label>
                <input type="text" class="form-control inputform" id="text">
              </div>
              <div class="row">
                <button>SUBMIT</button>
              </div>
            </form>
          </div>

          <div class="col-md-2 col-sm-3 col-xs-6 marg13 padd8">
            <div class="borderwidth">
              <strong class="naming bluecol">PARIS</strong>
              <div class="patevent">
                  <img src="img/1.png" alt="" class="img-responsive ">
                  <div class="cart-section">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </div>
                </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 marg13 padd8">
            <div class="borderright"><strong class="naming bluecol">PATTAYA</strong>
              <div class="img1">
                <div class="patevent">
                    <img src="img/2.png" alt="" class="img-responsive ">
                    <div class="cart-section">
                      <i class="fa fa-times" aria-hidden="true"></i>
                    </div>
                  </div>
              </div>
              <div class="img1">
                <div class="patevent">
                    <img src="img/3.png" alt="" class="img-responsive ">
                    <div class="cart-section">
                      <i class="fa fa-times" aria-hidden="true"></i>
                    </div>
                  </div>
              </div>
            </div>
          </div>

          <div class="col-md-2 col-sm-6 col-xs-6 marg14 padd8">
            <div class="borderr"><strong class="naming bluecol">AMSTERSAM</strong>
              <div class="patevent">
                  <img src="img/1.png" alt="" class="img-responsive ">
                  <div class="cart-section">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </div>
                </div>
            </div>
          </div>
          <div class="col-md-1 marg14"> </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--email update -->
<div class="eupt ng-scope">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12 ge pregular">GET EMAIL UPDATE</div>
      <div class="col-md-5 col-sm-6 col-xs-12 ie">
        <input type="text" placeholder="Your email address" class="form-control Roboto">
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 es pregular">
        <p><a class="whit_color" ui-sref="home" href="#/">SUBSCRIBE</a></p>
      </div>
    </div>
  </div>
</div>
