<!---top image---->
<img src="img/Group-35.jpg" class="img-responsive" style="display:block;margin-top: -1px;"  >

<!---slider images ---->
<div class="m8" ng-click="details();">
  <div class="mr">
    <div class="container borderup">
      <div class="addimg">
        <img src="img/+img.png" alt="" class="img-responsive">
      </div>
      <div class="row">

        <div class="col-md-4 col-sm-4 col-xs-4 padng0">
          <p class="p p11 pregular">POPULAR</p>
          <p class="p2 p22 theboldfont">DESTIN ATIONS</p>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2 padng0 ">
          <figure class="">
      				<img class="img-responsive" src="img/1.jpg">
      				<figcaption class="bg">
      					<div class="lin">
                <div class="imghover pregular">
      						   <img class="inmIMG" src="img/ggl.png">
                     <p>AMSTERDAM</p>
                </div>
      					</div>
      				</figcaption>
      			</figure>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2  padng0">
          <figure>
      				<img class="img-responsive" src="img/3.jpg">
      				<figcaption class="backcolor">
      					<div class="lin">
                <div class="padup pregular">
                     <p >CROATIA</p>
                </div>
      					</div>
      				</figcaption>
      			</figure>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2 padng0 ">
          <figure >
      				<img class="img-responsive" src="img/2.jpg">
      				<figcaption class="backcolor">
      					<div class="lin">
                <div class="padup pregular">
                     <p >IBIZA</p>
                </div>
      					</div>
      				</figcaption>
      			</figure>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2 padng0 ">
          <figure >
      				<img class="img-responsive" src="img/1.jpg">
      				<figcaption class="backcolor">
      					<div class="lin">
                <div class="padup pregular">
                     <p >LAS VEGAS</p>
                </div>
      					</div>
      				</figcaption>
      			</figure>
        </div>

      </div>
    </div>
  </div>
  <!--second div -->
    <div class="ml">
      <div class="container borderdown">
        <div class="addimg1">
          <img src="img/+img.png" alt="" class="img-responsive">
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-2 col-xs-2 padng0">
            <figure >
                <img class="img-responsive" src="img/3.jpg">
                <figcaption class="backcolor">
                  <div class="lin">
                    <div class="padup pregular">
                         <p>AMSTERDAM</p>
                    </div>
                  </div>
                </figcaption>
              </figure>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 padng0">
              <img class="img-responsive" src="img/2.jpg">
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 padng0">
            <img class="img-responsive" src="img/3.jpg">
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 padng0">
            <img class="img-responsive" src="img/1.jpg">
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 padng0">
            <p class="p p1 theboldfont">POPULAR</p>
            <p class="p2 p222 theboldfont">ATTRA <br>CTIONS</p>
          </div>
        </div>
      </div>
    </div>
</div>

<!---about ---->
<div class="aboutin">
   <img class="imAb" src="img/wd.png">
   <span class="spAb theboldfont"><h1>WHO WE ARE</h1>
      <P class="ain Robotor">Welcome to the good Life!<br>
      The bachelor trip is all about making your last out the town a grand experience in itself From road trip to trip clubs, from smoking up to dressing down, you name it, we have it all! our mission is to make your bachelor trip, unforgettable! the Bachelor Trip allows you to have the host and organize stag/hen trips your way. </P>
   </span>
</div>


  <div class="container">
    <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 ap">
      <p class="pregular" >" Good things take time to Build.. so is our Website...!<br> Hence for more details leave us a message and we will get back to you !"</p>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 ap3">
      <div class="col-md-6 col-sm-6 col-xs-6 ">
        <p class="cp pregular">CUSTOMIZE YOUR STAG PARTY.</p>
        <h1 class="theboldfont h1c">ASK US HOW!</h1>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 formf">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <label for="name">Name </label>
        <input type="name" class="form-control" id="name" name="name" ng-model="formData.name" required>
        <div class="error-msg" ng-show="user.name.$error.required && user.name.$touched">Please Enter Your Name* </div>
      </div>

      <div class="col-md-6 col-sm-6 col-xs-12">
        <label for="email">Email Id</label>
        <input type="email" class="form-control" id="email" name="email" ng-model="formData.email" required>
        <div class="error-msg" ng-show="user.email.$error.required && user.email.$touched">Please Enter Your Email Id *</div>
        <div ng-if="exist">Email Already Exist</div>
      </div>

      <div class="col-md-6 col-sm-6 col-xs-12">
        <label for="mobile">Mobile No.</label>
        <input type="text" class="form-control" id="email" name="mobile" >
      </div>

      <div class="col-md-6 col-sm-6 col-xs-12">
        <label>Leave a message</label>
        <input type="text" class="form-control" id="email" name="message">
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
      <img src="img/submitbtn.png"  class="img-s">
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 marg3">
          <button  class="subbt theboldfont" type="submit">SUBMIT</button>
      </div>
    </div>
  </div>
  </div>
