<div class="container">
    <flex-slider flex-slide="s in mySlides track by $index" class="m1 figure922">
        <li>
            <div class="item">
                <figure class="mim8 ng-scope">
                    <img class="img-responsive " ng-src="{{s.img}}">
                    <figcaption>
                        <div class="links lm2">
                            <h1 class="theboldfont hclass"><span class=" hclass1 yellow_color">WHAT'S</span><span class=" hclass2"> HOT</span></h1>
                            <p class="Robotor LMP">{{s.events}}<br>{{s.date}}</p>
                        </div>
                    </figcaption>
                </figure>
            </div>
        </li>
    </flex-slider>
</div>
<div class="container">
    <div class="row">
        <div class="categoryup">
            <h1 class="theboldfont whit_color">UPCOMING<br>EVENTS</h1>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 padd15px">
                    <div class="events">
                        <img src="img/rockclimb.png" alt="" class="img-responsive ">
                        <div class="cart-sec">
                            <img src="img/cart.png" alt="" class="img-responsive ">
                        </div>
                        <div class="shadow-up"></div>
                        <div class="shadow-down2"></div>
                        <div class="event-name2">
                            <h2 class="bluecol eventh2 pregular">Way Out West 2016</h2>
                            <hr class="eventhr">
                            <p class="bluecol eventp Roboto">11-13 August 2016</p>
                            <p class="bluecol eventp Roboto">Gothenburg, Sweden</p>
                        </div>
                        <div class="over-layer2 text-center">
                            <div class="hoverhold">
                                <h2 class="bluecol eventh2 pregular">Way Out West 2016</h2>
                                <hr class="eventhr">
                                <p class="bluecol eventp Roboto">11-13 August 2016</p>
                                <p class="bluecol eventp Roboto">Gothenburg, Sweden</p>
                                <button class="morebutton"><a ui-sref="whats-hot-more" class="whit_color">KNOW MORE</a></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 padd15px">
                    <div class="events">
                        <img src="img/rockclimb.png" alt="" class="img-responsive ">
                        <div class="cart-sec">
                            <img src="img/cart.png" alt="" class="img-responsive ">
                        </div>
                        <div class="shadow-up"></div>
                        <div class="shadow-down2"></div>
                        <div class="event-name2">
                            <h2 class="bluecol eventh2 pregular">Utopia Island Festival 2016</h2>
                            <hr class="eventhr">
                            <p class="bluecol eventp Roboto">18-20 August 2016</p>
                            <p class="bluecol eventp Roboto">Moosburg an der Isar, Germany</p>
                        </div>
                        <div class="over-layer2 text-center">
                            <div class="hoverhold">
                                <h2 class="bluecol eventh2 pregular">Utopia Island Festival 2016</h2>
                                <hr class="eventhr">
                                <p class="bluecol eventp Roboto">18-20 August 2016</p>
                                <p class="bluecol eventp Roboto">Moosburg an der Isar, Germany</p>
                                <button class="morebutton"><a ui-sref="whats-hot-more" class="whit_color">KNOW MORE</a></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 padd15px">
                    <div class="events">
                        <img src="img/rockclimb.png" alt="" class="img-responsive ">
                        <div class="cart-sec">
                            <img src="img/cart.png" alt="" class="img-responsive ">
                        </div>
                        <div class="shadow-up"></div>
                        <div class="shadow-down2"></div>
                        <div class="event-name2">
                            <h2 class="bluecol eventh2 pregular">Way Out West 2016</h2>
                            <hr class="eventhr">
                            <p class="bluecol eventp Roboto">11-13 August 2016</p>
                            <p class="bluecol eventp Roboto">Gothenburg, Sweden</p>
                        </div>
                        <div class="over-layer2 text-center">
                            <div class="hoverhold">
                                <h2 class="bluecol eventh2 pregular">Way Out West 2016</h2>
                                <hr class="eventhr">
                                <p class="bluecol eventp Roboto">11-13 August 2016</p>
                                <p class="bluecol eventp Roboto">Gothenburg, Sweden</p>
                                <button class="morebutton"><a ui-sref="whats-hot-more" class="whit_color">KNOW MORE</a></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 padd15px ">
                    <div class="events">
                        <img src="img/rockclimb.png" alt="" class="img-responsive ">
                        <div class="cart-sec">
                            <img src="img/cart.png" alt="" class="img-responsive ">
                        </div>
                        <div class="shadow-up"></div>
                        <div class="shadow-down2"></div>
                        <div class="event-name2">
                            <h2 class="bluecol eventh2 pregular">Utopia Island Festival 2016</h2>
                            <hr class="eventhr">
                            <p class="bluecol eventp Roboto">18-20 August 2016</p>
                            <p class="bluecol eventp Roboto">Moosburg an der Isar, Germany</p>
                        </div>
                        <div class="over-layer2 text-center">
                            <div class="hoverhold">
                                <h2 class="bluecol eventh2 pregular">Utopia Island Festival 2016</h2>
                                <hr class="eventhr">
                                <p class="bluecol eventp Roboto">18-20 August 2016</p>
                                <p class="bluecol eventp Roboto">Moosburg an der Isar, Germany</p>
                                <button class="morebutton"><a ui-sref="whats-hot-more" class="whit_color">KNOW MORE</a></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 padd15px">
                    <div class="events">
                        <img src="img/rockclimb.png" alt="" class="img-responsive ">
                        <div class="cart-sec">
                            <img src="img/cart.png" alt="" class="img-responsive ">
                        </div>
                        <div class="shadow-up"></div>
                        <div class="shadow-down2"></div>
                        <div class="event-name2">
                            <h2 class="bluecol eventh2 pregular">Utopia Island Festival 2016</h2>
                            <hr class="eventhr">
                            <p class="bluecol eventp Roboto">18-20 August 2016</p>
                            <p class="bluecol eventp Roboto">Moosburg an der Isar, Germany</p>
                        </div>
                        <div class="over-layer2 text-center">
                            <div class="hoverhold">
                                <h2 class="bluecol eventh2 pregular">Utopia Island Festival 2016</h2>
                                <hr class="eventhr">
                                <p class="bluecol eventp Roboto">18-20 August 2016</p>
                                <p class="bluecol eventp Roboto">Moosburg an der Isar, Germany</p>
                                <button class="morebutton"><a ui-sref="whats-hot-more" class="whit_color">KNOW MORE</a></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 padd15px">
                    <div class="events">
                        <img src="img/rockclimb.png" alt="" class="img-responsive ">
                        <div class="cart-sec">
                            <img src="img/cart.png" alt="" class="img-responsive ">
                        </div>
                        <div class="shadow-up"></div>
                        <div class="shadow-down2"></div>
                        <div class="event-name2">
                            <h2 class="bluecol eventh2 pregular">Utopia Island Festival 2016</h2>
                            <hr class="eventhr">
                            <p class="bluecol eventp Roboto">18-20 August 2016</p>
                            <p class="bluecol eventp Roboto">Moosburg an der Isar, Germany</p>
                        </div>
                        <div class="over-layer2 text-center">
                            <div class="hoverhold">
                                <h2 class="bluecol eventh2 pregular">Utopia Island Festival 2016</h2>
                                <hr class="eventhr">
                                <p class="bluecol eventp Roboto">18-20 August 2016</p>
                                <p class="bluecol eventp Roboto">Moosburg an der Isar, Germany</p>
                                <button class="morebutton"><a ui-sref="whats-hot-more" class="whit_color">KNOW MORE</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
