<!---banner start ---->
<figure class="mim8">
  <img class="img-responsive" src="img/banner2.jpg">
</figure>

<!---FORM start ---->
<div class="whatsmain">
  <div class="container ">
    <div class="col-md-12 margin3">
      <div class="whatsmarg4">
        <!---POPULAR DESTINATIONS ---->
        <div class="row text-center whatspadd3">
          <span><a class="whit_color theboldfont wtimg" ui-sref="home" href="#/">IMAGES</a></span>
          <span><a class="wtvi theboldfont" ui-sref="home" href="#/">VIDEOS</a></span>
        </div>
        <div class="row">
          <div class="col-md-3 pading0 curserpionter" ng-click="details2();">
            <img class="img-responsive" src="img/rockclimb1.png">
          </div>
          <div class="col-md-3 pading0 curserpionter">
            <img class="img-responsive" src="img/rockclimb1.png">
          </div>
          <div class="col-md-3 pading0 curserpionter">
            <img class="img-responsive" src="img/rockclimb1.png">
          </div>
          <div class="col-md-3 pading0 curserpionter">
            <img class="img-responsive" src="img/rockclimb1.png">
          </div>
          <div class="col-md-3 pading0 curserpionter">
            <img class="img-responsive" src="img/rockclimb1.png">
          </div>
          <div class="col-md-3 pading0 curserpionter">
            <img class="img-responsive" src="img/rockclimb1.png">
          </div>
          <div class="col-md-3 pading0 curserpionter">
            <img class="img-responsive" src="img/rockclimb1.png">
          </div>
          <div class="col-md-3 pading0 curserpionter">
            <img class="img-responsive" src="img/rockclimb1.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--second page-->
<div class="container ">
  <div class="wtsecond">
    <div class="wtsec2">
      <div class="row">
        <div class="col-md-12 pading0">
          <p class="wtintro Robotor">Your Cruise rate includes:</p>
          <ul class="list-group">
            <li class="font15 Robotor">4 days and 3 nights accommodation</li>
            <li class="font15 Robotor">Round trip ceuise from Singapore to Penang</li>
            <li class="font15 Robotor">All means, including breakfast,lunch,dinner,24-hour room service* (including a gourmet fare in the formal dining rooms and casual outdoor grill)</li>
            <li class="font15 Robotor">Non-carbonated beverages(water,tea,coffee,juices,milk)</li>
            <li class="font15 Robotor">Government taxes and fees</li>
            <li class="font15 Robotor">Entry to all IT'S THE SHIP events on and off the ship</li>
            <li class="font15 Robotor">Complimentary use of mmost of the ship's facilities including casino, swimming pools and whrirlpools, rock-climbing, ice-skating rink,health and firness center.</li>
          </ul>
          <p class="font15 margin-15">*Tips and gratuities are NOT included in your cruise rate.</p>
          <p class="font15 margin-15">For more info,check out our booking FAQs here :<a class="colora">www.itstheship.com/faq</a></p>
        </div>
      </div>
    </div>
    <div class="pull-right wtsocial">
      <div class="col-md-12 social1">
        <ul class="list-group socialgr">
          <li class="Robotor">
            <a class="yellow_color pregular"><img src="img/cart.png" alt="" class="socialimg img-responsive doneLoading">ADD TO CART</a>
          </li>
        </ul>
      </div>
      <div class="col-md-12 social2">
        <ul class="ulsocial2 list-group">
          <li class=""><a class="fontsiz yellow_color pregular"><i class="fa fa-share-alt"></i></a></li>
          <li class="ulsocial2i "><a class="bluecol pregular"><i class="fa fa-facebook"></i></a></li>
          <li class="ulsocial2i "><a class="bluecol pregular"><i class="fa fa-twitter"></i></a></li>
          <li class="ulsocial2i "><a class="bluecol pregular"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container ">
  <div class="col-md-12 wtlast">
    <div class="wtlast2">
      <div class="row">
        <div class="col-md-12 pading0">
          <table class="table">
            <thead>
              <tr>
                <th>*Prices Listed Are Per Person In US Dolar (USD)</th>
                <th>2 Pax/Cabin</th>
                <th>2 Pax/Cabin</th>
                <th>2 Pax/Cabin</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Royal Suite W/Balcony</td>
                <td class="tdcolor">Sold Out</td>
                <td class="tdcolor">Sold Out</td>
                <td class="tdcolor">Sold Out</td>
              </tr>
              <tr>
                <td>Royal family Suite W/Balcony</td>
                <td class="tdcolor">Sold Out</td>
                <td class="tdcolor">Sold Out</td>
                <td class="tdcolor">Sold Out</td>
              </tr>
              <tr>
                <td>Owners Suite W/Balcony</td>
                <td>2,588</td>
                <td>2,588</td>
                <td>2,588</td>
              </tr>
              <tr>
                <td>Grand Ocean Suite W/Balcony</td>
                <td>3,548</td>
                <td>3,548</td>
                <td>3,548</td>
              </tr>
              <tr>
                <td>Juniour Ocean Suite</td>
                <td>5,454</td>
                <td>5,454</td>
                <td>5,454</td>
              </tr>
              <tr>
                <td>Family Ocean View</td>
                <td>2,588</td>
                <td>2,588</td>
                <td>2,588</td>
              </tr>
              <tr>
                <td>Large Ocean View</td>
                <td>3,548</td>
                <td>3,548</td>
                <td>3,548</td>
              </tr>
              <tr>
                <td>Deluxe Ocean View</td>
                <td>5,454</td>
                <td>5,454</td>
                <td>5,454</td>
              </tr>
              <tr>
                <td>Interior</td>
                <td>9,547</td>
                <td>9,547</td>
                <td>9,547</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>