<footer class="footb">
    <div class="container fc">
        <div class="col-md-4 marg7">
            <p class="Robotor">The Bachelor Trip &copy; {{template.year}}</p>
        </div>
        <div class="col-md-4 fcenter">
            <a ui-sref="home" target="_blank"><i class="fa fa-facebook"></i></a>
            <a ui-sref="home" target="_blank"><i class="fa fa-twitter"></i></a>
            <a ui-sref="home" target="_blank"><i class="fa fa-google-plus"></i></a>
        </div>
        <div class="col-md-4 marg7">
            <div class="pull-right">
                <p class="Robotor"><a class="grey_color Robotor" target="_blank" ui-sref="home">Designed By Ting</a></p>
            </div>
        </div>
    </div>
</footer>