<div class="container">
    <div class="row mf">
      <div class="col-md-4"><strong class="st stp Robotor">DESTINATIONS</strong>
        <div class="col-md-6">
            <p class="Robotor">Amsterdam <br>Barcelona <br>Benidorm<br> Berlin <br>Bratislava </p><strong><a href="#">More...</a></strong>
          </div>
        <div class="col-md-6">
            <p class="Robotor"> Copenhagen<br> Cologne<br> Hamburg<br> Lisbon<br> Munich</p>  <strong><a href="#">More...</a></strong>
        </div>
      </div>
      <div class="col-md-2 spt"><strong class="stp Robotor">ACTIVITIES</strong>
          <p class="Robotor">Bungee Jumping <br>Surf boarding<br> River Rafting <br>Rock Climbing</p>
      </div>
      <div class="col-md-2"><strong class="stp Robotor">WHAT'S HOT</strong>
        <p class="Robotor"> Tommorowland <br>Way out West <br>Positiv Festival <br>Utopica island <br>Tommorowland<br> Way out West </p>
      </div>
      <div class="col-md-2"><strong class="stp Robotor">HIGH ROLLERS</strong>
            <p class="Robotor"> Tommorowland <br>Way out West <br>Positiv Festival <br>Utopica island <br>Tommorowland<br> Way out West </p>
      </div>
      <div class="col-md-2"><strong class="stp Robotor">ABOUT US MEDIA CORNER CONTACT US </strong>
          <p><img class="imgf" src="img/footer.png"></p>
      </div>
  </div>
</div>
