<footer class="footb">
    <div class="container fc">
        <div class="col-md-4">
            <p>The Bachelor Trip  &copy; {{template.year}}</p>
        </div>
        <div class="col-md-4 fcenter">
             <a href="" target="_blank">f</a>
             <a href="" target="_blank">t</a>
             <a href="" target="_blank">g</a>
             <a href="" target="_blank">p</a>
        </div>
        <div class="col-md-4">
            <div class="pull-right">
                <p>Designed By Ting</p>
            </div>
        </div>
    </div>
</footer>
