<div class="row">
  <div class="container">
    <div class="col-md-4"><strong>DESTINATIONS</strong>
      <div class="col-md-6">
          <p>Amsterdam <br>Barcelona <br>Benidorm<br> Berlin <br>Bratislava  <strong>More...</strong></p>
        </div>
      <div class="col-md-6">
          <p> Copenhagen<br> Cologne<br> Hamburg<br> Lisbon<br> Munich</p>  <strong>More...</strong>
      </div>
    </div>
    <div class="col-md-2"><strong>ACTIVITIES</strong>
        <p>Bungee Jumping <br>Surf boarding<br> River Rafting <br>Rock Climbing</p>
    </div>
    <div class="col-md-2"><strong>WHAT'S HOT</strong>

    </div>
    <div class="col-md-2"><strong>HIGH ROLLERS</strong>
          <p> Tommorowland <br>Way out West <br>Positiv Festival <br>Utopica island <br>Tommorowland<br> Way out West </p>
    </div>
    <div class="col-md-2"><strong>ABOUT US MEDIA CORNER CONTACT US </strong>
        <p></p>
    </div>

</div>
