<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>The bachelor &copy; 2016</p>
            </div>
            <div class="col-md-4">

                     <a href="" target="_blank">f</a>
                     <a href="" target="_blank">t</a>
                     <a href="" target="_blank">g</a>
                     <a href="" target="_blank">p</a>

            </div>
            <div class="col-md-4">
                <div class="pull-right">
                    <p>Developed by <a href="http://www.wohlig.com" target="_blank">Wohlig Technology</a>.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
