
    <div class="row mf">
    <div class="col-md-4"><strong class="st stp">DESTINATIONS</strong>
      <div class="col-md-6">
          <p>Amsterdam <br>Barcelona <br>Benidorm<br> Berlin <br>Bratislava </p><strong><a href="#">More...</a></strong>
        </div>
      <div class="col-md-6">
          <p> Copenhagen<br> Cologne<br> Hamburg<br> Lisbon<br> Munich</p>  <strong><a href="#">More...</a></strong>
      </div>
    </div>
    <div class="col-md-2 spt"><strong class="stp">ACTIVITIES</strong>
        <p>Bungee Jumping <br>Surf boarding<br> River Rafting <br>Rock Climbing</p>
    </div>
    <div class="col-md-2"><strong class="stp">WHAT'S HOT</strong>
      <p> Tommorowland <br>Way out West <br>Positiv Festival <br>Utopica island <br>Tommorowland<br> Way out West </p>
    </div>
    <div class="col-md-2"><strong class="stp">HIGH ROLLERS</strong>
          <p> Tommorowland <br>Way out West <br>Positiv Festival <br>Utopica island <br>Tommorowland<br> Way out West </p>
    </div>
    <div class="col-md-2"><strong class="stp">ABOUT US MEDIA CORNER CONTACT US </strong>
        <p><img class="imgf" src="img/footer.png"></p>
    </div>
</div>
